settings.py
*.pyc
static/
static3/
.sass-cache
logs/
TODO
.sass_cache/
manage.py
DEPLOY
explorers/migrations/
experiences/migrations/
photologue/migrations/
support/migrations/
narratives/migrations/
