settings.py
*.pyc
static/
checklist.txt
.sass_cache/
manage.py
deployment_procedures.txt
explorers/migrations/
experiences/migrations/
photologue/migrations/
support/migrations/
narratives/migrations/
