{% extends "base.html" %}

{% block content %}
    <div class="left">
        <h1>Log in</h1>
        {% if form.errors %}
            <p class="error">Whoops, looks like there's an error with either your trailname or password</p>
        {% endif %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="formatted_input">
                <label for="username">Email or <abbr title="Creative username to describe your journey">Trailname</abbr>:</label>
                <br />
                <input type="text" name="username" value="" id="username" />
            </div>
            <div class="formatted_input">
                <label for="password">Password:</label>
                <br />
                <input type="password" name="password" value="" id="password" />
            </div>
            <div class="formatted_input">
                <input type="submit" value="Log In" />
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        </form>
        <a href="{% url 'reset_password' %}">Forgot password?</a>
    </div>
    <div class="right featured_photo">
        <img src="{{ STATIC_URL }}img/logo.png" style="width: 250px;" alt="Acressity"/>
    </div>
{% endblock content %}
