{% extends 'base.html' %}

{% block head_insert %}
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock head_insert %}

{% block content %}
    <div class="main_item">
        <div class="jumbotron">
            <h1>Log In</h1>
        </div>
    </div>

    {% for error in form.errors %}
        <li class="error">{{ error }}</li>
    {% endfor %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="formatted_input">
            <label for="username">Email or <abbr title="Creative username to describe your journey">Trailname</abbr>:</label>
            <br />
            <input type="text" name="username" value="" id="username" />
        </div>
        <div class="formatted_input">
            <label for="password">Password:</label>
            <br />
            <input type="password" name="password" value="" id="password" />
        </div>
        <div class="formatted_input align_center">
            <input type="submit" value="Log In" />
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>

    <hr />

    <div class="align_center">
        <a href="{% url 'register' %}">
            <input type="button" value="Sign up" />
        </a>
        <span>or</span>
        <a href="{% url 'social:begin' 'google-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">
            <img src="{{ STATIC_URL }}img/google/web/1x/btn_google_signin_light_focus_web.png" />
        </a>
    </div>

    <div class="object_item">
        <a href="{% url 'reset_password' %}">
            Forgot password?
        </a>
    </div>
{% endblock content %}
