{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h3>
        Specify your email address to receive instructions for password reset
    </h3>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.email.errors }}
        <div class="formatted_input">
            <label for="id_email">E-mail address:</label>
            {{ form.email }}
            <br />
        </div>
        <input type="submit" value="Send E-mail" />
    </form>
{% endblock %}