{% extends "base.html" %}
{% block title %}- Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
		<p>Please enter your new password twice</p>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="formatted_input">
                {{ form.new_password1.errors }}
                <label for="id_new_password1">New password:</label>
                {{ form.new_password1 }}
            </div>
            <div class="formatted_input">
                {{ form.new_password2.errors }}
                <label for="id_new_password2">Confirm password:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" value="Save password" />
        </form>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>
			The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
		</p>
        <a href="{% url 'reset_password' %}">Reset password</a>
    {% endif %}
{% endblock %}
