{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="explorer_item">
        <div class="jumbotron">
            <h1>Reset Password</h1>
        </div>
    </div>
    <div>
        <h3>
            Specify your email address to receive instructions and a link for resetting your password
        </h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.email.errors }}
            <div class="formatted_input">
                <label for="id_email">E-mail address:</label>
                {{ form.email }}
                <br />
            </div>
            <div class="align_center">
                <input type="submit" value="Send E-mail" />
            </div>
        </form>
    </div>
{% endblock %}
