{% extends "base.html" %}

{% block head_insert %}
	<script type="text/javascript">
		function say_hello()
        {
			var first_name = document.getElementById("id_first_name").value;
			var $el = $("#first_name_positive_feedback");
			if (first_name) {
				$el.text("Hello, " + first_name + "!");
			} else {
                $el.text("");
            }
		}

		function check_password1()
		{
			var password1 = document.getElementById("id_password1").value;
			var $el = $("#password1_negative_feedback");
			if (password1 && password1.length < {{ min_password_len }}) {
				$el.html("Your password needs to be at least {{ min_password_len }} characters long");
			} else {
				$el.html("");
			}
		}

		function check_password2()
		{
			var password1 = document.getElementById("id_password1").value;
			var password2 = document.getElementById("id_password2").value;
			var $elPos = $("#password2_positive_feedback");
			var $elNeg = $("#password2_negative_feedback");
			if (password2 && password1 !== password2) {
				$elNeg.html("Your passwords don't match");
				$elPos.html("");
			} else {
				$elPos.html("Passwords match");
				$elNeg.html("");
			}
		}
		function check_trailname()
		{
			// Check if the trailname has already been chosen by another explorer
			// This function automatically called by the explorer form association upon blur event of text field
			var trailname = $("#id_trailname").val();
			var trailname_negative_feedback = $("#trailname_negative_feedback");
            var trailname_positive_feedback = $("#trailname_positive_feedback");
			if (trailname.length > 2) {
				$.ajax({
					url: "{% url 'check_trailname' %}",
					dataType: 'json',
					data: {"trailname": trailname},
				})
				.always(function(a){
					if (a.found){
						trailname_negative_feedback.html("That trailname has already been chosen");
						trailname_positive_feedback.html("");
					} else {
						trailname_positive_feedback.html("Trailname available. Proceed, " + trailname)
						trailname_negative_feedback.html("")
					}
				})
			} else if (!trailname.length) {
				trailname_negative_feedback.html("");
				trailname_positive_feedback.html("");
			} else {
				trailname_negative_feedback.html("Trailname must be a little longer");
				trailname_positive_feedback.html("");
			}
		}
	</script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled/registration.css" />
{% endblock head_insert %}

{% block content %}
    <h1 class="align_center">Register</h1>
	<hr />
	{{ form.non_field_errors }}
	<form action="" method="POST">
		{% csrf_token %}
		<li>
			<label for="id_title">What do you want to experience?</label>
			<input type="text" name="title" id="id_title" value="{{ request.session.experience_title }}" />
			<div class="helptext">Registering with a first experience is optional. More can be added later.</div>
		</li>

		{{ form.as_ul }}

		<p>
			<div id="first_name_positive_feedback" class="success"></div>
			<div id="first_name_negative_feedback" class="error"></div>
		</p>

		<p>
			<div id="trailname_negative_feedback" class="errorlist"></div>
			<div id="trailname_positive_feedback" class="successlist"></div>
		</p>

		<p>
			<div id="password1_positive_feedback" class="successlist"></div>
			<div id="password1_negative_feedback" class="errorlist"></div>
		</p>

		<p>
			<div id="password2_positive_feedback" class="successlist"></div>
			<div id="password2_negative_feedback" class="errorlist"></div>
		</p>

		<div class="align_center">
			<input type="submit" value="Register" />
		</div>
	</form>
{% endblock content %}
