{% extends "base.html" %}

{% block content %}
	<h2>New experience created for your journey</h2>
	<h1><em>{{ experience }}</em></h1>
	<div class="featured_photo">
		<img src="{{ STATIC_URL }}img/taking_off.jpg" alt="Taking Off" title="Taking Off" />
	</div>
	<p>
		You have added a new chapter to a book which has its pages written upon this site, accessible from nearly anywhere. Create narratives to track your movement within this experience, publish photos regarding the experience, and share it with others or make it a private venture for yourself.
	</p>
	<form action="{% url 'register' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="experience" id="experience" value="{{ experience }}" />
		<input type="hidden" name="initial" />
		<input type="submit" value="Proceed" class="expand-button" />
	</form>
{% endblock content %}