{% extends "base.html" %}

{% block content %}
	<div class="featured_photo">
		<img src="{{ STATIC_URL }}img/taking_off.jpg" alt="Taking Off" title="Taking Off" />
	</div>
	<div class="main_item">
		<form action="{% url 'register' %}" class="full_width larger" method="POST">
			{% csrf_token %}
			<h3>Your new experience</h3>
			<input type="text" name="experience" id="experience" value="{{ experience }}" />
			<input type="hidden" name="initial" />
			<input type="submit" value="Proceed" class="expand-button" />
		</form>
	</div>
	<p>
		You have added a new chapter to a book which has its pages written upon this site, accessible from nearly anywhere. Create narratives to track your movement within this experience, publish photos regarding the experience, and share it with others or make it a private venture for yourself.
	</p>
{% endblock content %}