{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ request.user.get_full_name }}</h1>
    {% comment %}
        <p>
            This application encourages you to follow through on the experiences you add to your journey. With each experience you create being comparable to the chapter titles of a favorite book, you're encouraged to fill them with as many narratives and photos, and invite as many fellow explorers to each experience as you please.
        </p>
    {% endcomment %}
    <p>
        On the right is your dash information. It displays the picture you choose to be recognized by, and gives you quick access to your featured experience.
    </p>
    <div>
        {% if user.featured_experience %}
            <p>
                With your new experience <em>{{ user.featured_experience }}</em>, you can get started with the following options:
            </p>
            <a href="{% url 'narratives.views.create' user.featured_experience.id %}">
                <h3>
                    <img src="{{ STATIC_URL }}img/icons/new-narrative-icon.png" title="Creating your first narrative for '{{ user.featured_experience }}'" class="option_icon" style="vertical-align: middle;" />
                    Create your first narrative
                </h3>
            </a>
            <br />
            <a href="{% url 'experiences.views.edit' user.featured_experience.id %}">
                <h3>
                    <img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit or write about '{{ user.featured_experience }}'" class="option_icon" style="vertical-align: middle;" />
                Edit, or write about your new experience
                </h3>
            </a>
            <br />
            <a href="/photologue/gallery/{{ user.gallery.id }}/upload_photo/">
                <h3>
                    <img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload a photo as your portrait" class="option_icon" style="vertical-align: middle;" />
                    Upload a photo for your portrait
                </h3>
            </a>
            <br />
            <h3>
                Or go straight to your <a href="{% url 'journey' user.id %}">journey page</a>
            </h3>
        {% else %}
            {# User created new journey without an experience #}
            You can create a new experience for your journey <a href="{% url 'create_experience' %}">here</a>
        {% endif %}
        
    </div>
{% endblock content %}