{% extends 'base.html' %}

{% load acressity_extras %}

{% block content %}
    <div class="bounty_item">
        <div class="jumbotron">
            <h1>Create Bounty</h1>
            <h2><a href="{{ campaign.get_absolute_url }}">{{ campaign }}</a></h2>

            <div class="option_list">
                <a href="{% url 'campaign' campaign.pk %}">
                    <img src="{{ STATIC_URL }}img/icons/go-back.png" title="Go back to campaign home page" class="option_icon" />
                </a>
            </div>
        </div>

        {% if parent %}
            <p>
                You are countering the bounty <a href="{{ parent.get_absolute_url }}">{{ parent }}</a>
            </p>
        {% endif %}
    </div>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="helptext">
            {{ form|help_text }}
        </div>
        {{ form.as_ul }}
        <div class="align_center">
            <input type="submit" value="Create" />
        </div>
    </form>
{% endblock content %}
