{% extends "experiences/base.html" %}

{% block content %}
	<h1>Invite a new comrade to join {{ experience }}</h1>
	<div class="explorer_item">
		<form action="" method="POST">
			{% csrf_token %}
			<table class="thirds_table">
				<td class="formatted_input">
					<label for="id_first_name">
						<h3>First name of comrade</h3>
					</label>
					{{ form.first_name.errors }}
					{{ form.first_name }}
				</td>
				<td class="formatted_input">
					<label for="id_last_name">
						<h3>Last name</h3>
					</label>
					{{ form.last_name.errors }}
					{{ form.last_name }}
				</td>
			</table>
			<div class="formatted_input">
				<label for="id_email">
					<h3>Email address</h3>
				</label>
				{{ form.email.errors }}
				{{ form.email }}
			</div>
			<p><em>This information is used responsibly. It will only be used for the invitation request.</em></p>
			<div class="formatted_input align_center">
				<input type="submit" value="Invite" name="invite" />
			</div>
		</form>
	</div>
    {% if explorers.count > 0 %}
		<h2>or select from registered explorers</h2>
        {% for explorer in explorers %}
            <div class="explorer_item">
                {% include "explorers/snippets/dash.html" %}
                <form action="" method="POST">
                    {% csrf_token %}
					<div class="formatted_input align_center">
						<input type="submit" value="Invite {{ explorer.first_name }}" />
						<input type="hidden" name="explorer_id" value="{{ explorer.id }}">
						<input type="hidden" name="existing_explorer" />
					</div>
                </form>
            </div>
        {% endfor %}
    {% endif %}
	{% comment %}
	<form action="" method="POST">
		{% csrf_token %}
		<strong>/*Following function not yet working:*/</strong>
		<h3>Invite someone not yet on this site</h3>
		<p>
			<label for="id_first_name">First name:</label>
			<br />
			<input type="text" name="first_name" id="id_first_name" />
		</p>
		<p>
			<label for="id_last_name">Last name:</label>
			<br />
			<input type="text" name="last_name" id="id_first_name" />
		</p>
		<p>
			<label for="id_email">Email address:</label>
			<br />
			<input type="text" name="email" id="id_email" />
		</p>
		<input type="submit" value="Invite">
	</form>
	{% endcomment %}
{% endblock content %}
