{# Assumes object passed in as comment_form #}
{# Allows referring page to assign a next url with 2 variables #}
      {# url name with variable next_url_name #}
      {# url pk with variable next_url_pk #}

{% load comments %}

<form action="{% comment_form_target %}" method="POST" class="note_form">
      {% csrf_token %}
      {{ comment_form.comment }}
      {{ comment_form.honeypot }}
      {{ comment_form.object_pk }}
      {{ comment_form.content_type }}
      {{ comment_form.timestamp }}
      {{ comment_form.security_hash }}
      {# Allow for next variable #}
      {# Following looks horrible because of white space considerations... Maybe template tag exists to facilitat this?? {% spaceless %} only works for white space between html tags #}
      <input type="hidden" name="next" value="{% if next_url_name %}{% if next_url_pk %}{% url next_url_name next_url_pk %}{% else %}{% url next_url_name %}{% endif %}{% endif %}">
      <p>
            <input type="submit" value="Submit Note" />
      </p>      
  </form>