{% extends "explorers/base.html" %}

{% block content %}
    <h1>
        Experiences 
        {% ifequal user explorer %}
            you are
        {% else %}
            {{ explorer }} is
        {% endifequal %} Tracking
    </h1>
    {% for experience in explorer.tracking_experiences.all %}
        <div class="experience_item">
            {% include "experiences/snippets/dash.html" %}
        </div>
    {% empty %}
        <p>
            {% ifequal user explorer %}You are not{% else %}{{ explorer }} is not {% endifequal %} currently tracking any experiences
        </p>
    {% endfor %}
{% endblock content %}
