{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ invitation_request.potential_explorer.first_name }} {{invitation_request.potential_explorer.last_name }}</h1>
    {% with invitation_request.experience as experience %}
        <h2>You've been invited by {{ invitation_request.author.get_full_name }} to be part of the experience</h2>
        {% include "experiences/dash_snippet.html" %}
    {% endwith %}
    <h3>Accepting invitation will bring you to a registration page</h3>
    <table>
        <td>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="first_name" value="{{ invitation_request.potential_explorer.first_name }}" />
            <input type="hidden" name="last_name" value="{{ invitation_request.potential_explorer.last_name }}" />
            <input type="hidden" name="email" value="{{ invitation_request.potential_explorer.email }}" />
            <input type="hidden" name="experience" value="{{ invitation_request.experience }}" />
            <input type="submit" name="accept" value="Accept" />
        </form>
        </td>
        <td>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="submit" name="decline" value="Decline" />
        </form>
        </td>
    </table>
{% endblock content %}