{% extends "experiences/base.html" %}

{% block content %}
    <h1>New Experience</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="formatted_input">
            Title
            <br />
            {{ form.experience }}
        </div>
        <div class="formatted_input">
            Brief (optional)
            <br />
            {{ form.brief }}
        </div>
        <div class="formatted_input">
            Status (optional)
            <br />
            {{ form.status }}
        </div>
        <div class="formatted_input">
            Make this your featured experience?
            {{ form.make_feature }}
            <p onclick="toggle_div('about_featured_experience');" class="smaller_font">About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_featured_experience_toggle_icon" /></p>
            <div id="about_featured_experience" style="display: none;">
                <span class="smaller_font">{{ form.make_feature.help_text }}</span>
            </div>
        </div>
        <div class="formatted_input">
            Public? {{ form.is_public }}
            <p onclick="toggle_div('about_public_experiences');" class="smaller_font">About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_public_experiences_toggle_icon" /></p>
            <div id="about_public_experiences" style="display: none;">
                <span class="smaller_font">{{ form.is_public.help_text}}</span>
            </div>
        </div>
        <input type="submit" value="Save" />
    </form>
{% endblock content %}