{% extends "experiences/base.html" %}

{% block content %}
	<h2>Editing <em>{{ experience }}</em></h2>
	<form action="" method="POST" class="full_width">
		{% csrf_token %}
		<div class="formatted_input">
			<label for="id_experience">
				<h3>Title</h3>
			</label>
			{{ form.experience }}
		</div>
		<p>{{ form.featured_photo }}</p>
		<div class="formatted_input">
			<label for="id_brief">
				<span title="About the experience"><h3>Brief</h3></span>
			</label>
			{{ form.brief|escape }}
		</div>
		<div class="formatted_input">
			<label for="id_status">
				<h3>Status</h3>
			</label>
			{{ form.status|escape }}
		</div>
		{% ifnotequal experience user.featured_experience %}
			<div class="formatted_input">
				<label for="id_make_feature">
					<strong>Make this your featured experience?</strong>
				</label>
				{{ form.make_feature }}
				<br />
				<span class="smaller_font">{{ form.make_feature.help_text }}</span>
			</div>
		{% endifnotequal %}
		{% ifequal user experience.author %}
			{# Will need to be more secure... Easy to change POST information #}
			<div class="formatted_input">
				Public? {{ form.is_public }}
				<br />
				<span class="smaller_font">{{ form.is_public.help_text }}</span>
			</div>
		{% endifequal %}
		<input type="hidden" name="experience_id" value="{{ experience.id }}" />
		<input type="hidden" name="explorer_id" value="{{ experience.explorer.id }}"/>
		<input type="submit" value="Update" />
	</form>
	<div class="option_list">
		<a href="{% url 'narratives.views.create' experience.id %}"><img src="{{ STATIC_URL }}img/icons/new-narrative-icon.png" title="Create new narrative for {{ experience }}" class="option_icon" /></a>
		<a href="/experiences/{{ experience.id }}/categorize/"><img src="{{ STATIC_URL }}img/icons/categorize-icon.png" title="Categorize the narratives in this experience" class="option_icon" /></a>
		<a href="{% url 'experiences.views.index' experience.id %}"><img src="{{ STATIC_URL }}img/icons/back-icon.png" title="Go back to experience page" class="option_icon" /></a>
		<a href="{% url 'experiences.views.upload_photo' experience.id %}"><img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload image" class="option_icon" /></a>
		{% if experience.gallery %}
			<a href="/photologue/gallery/{{ experience.gallery.id }}/"><img src="{{ STATIC_URL }}img/icons/gallery-icon.png" title="View gallery" class="option_icon" /></a>
		{% endif %}
	</div>
{% endblock content %}