{% extends "experiences/base.html" %}

{% block head_insert %}
    <script type="text/javascript">
        $(document).ready(function(){
            e = document.getElementById("id_is_public");
            d = document.getElementById("password_div");
            if (e.checked){
                $(d).css("display", "none");  {# If this initial setting is correct, the toggling of the password div should be on par with future checking and unchecking. Is my logic flawed???? #}
            }
        })
    </script>
{% endblock head_insert %}

{% block content %}
    <div class="experience_item">
        <div class="jumbotron">
            <h1>Edit Experience</h1>
            <h2>{{ experience }}</h2>
            <div class="option_list">
                <a href="{% url 'experience' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/go-back.png" class="option_icon" title="Back to experience home page" />
                </a>
            </div>
        </div>
    </div>

    {% with '' as url %}
        {% include 'experiences/forms/experience_form.html' %}
    {% endwith %}
{% endblock content %}
