{% extends "experiences/base.html" %}

{% load comments %}

{% block content %}
	<h2>{{ experience|escape }}</h2>
	{% if experience.gallery.featured_photo %}
		<div class="featured_photo">
			<a href="{% url 'pl-gallery' experience.gallery.id %}">
				<img src="{{ experience.gallery.featured_photo.get_display_url }}" />
			</a>
			{% if experience.gallery.featured_photo.caption %}
				<div class="caption">
					{{ experience.gallery.featured_photo.caption }}
				</div>
			{% endif %}
		</div>
	{% endif %}
	<h3>Explorer{{ experience.explorers.count|pluralize }}</h3>
	<table class="thirds_table">
		<tr>
			{% for explorer in experience.explorers.all %}
				<td>
					<div class="object_item thirds_item explorer_item dash_item">
						{% if explorer.gallery.featured_photo %}
							<img src="{{ explorer.gallery.featured_photo.get_icon_url }}" title="{{ explorer.get_full_name }}" />
						{% endif %}
						<a href="{% url 'journey' explorer.id %}"><h3>{{ explorer.get_full_name }}</h3></a>
					</div>
				</td>
			{% endfor %}
		</tr>
	</table>
	<div class="option_list">
		{% if author %}
			<a href="{% url 'experiences.views.invite' experience.id %}"><img src="{{ STATIC_URL }}img/icons/add-user-icon.png" class="option_icon" title="Invite a comrade to be a part of this experience" /></a>
		{% endif %}
		{% if comrade %}
			<a href="/experiences/{{ experience.id }}/narratives/create/"><img src="{{ STATIC_URL }}img/icons/new-narrative-icon.png" title="Create a new narrative" class="option_icon" /></a>
			<a href="{% url 'experiences.views.edit' experience.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit this experience" class="option_icon" /></a>
			<a href="{% url 'experiences.views.upload_photo' experience.id %}"><img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload a photo" class="option_icon" /></a>
		{% endif %}
		{% if experience.gallery %}
			<a href="{% url 'pl-gallery' experience.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/gallery-icon.png" class="option_icon" title="View Photos for {{ experience }}" /></a>
		{% endif %}
	</div>
	{% if experience.brief %}
		<div class="experience_item">
			<h3>Experience Brief</h3>
			{{ experience.brief|escape|linebreaks }}
		</div>
	{% else %}
		{% if comrade %}
			<h3>Write a Brief</h3>
			<form action="{% url 'experiences.views.brief' experience.id %}" method="POST">
				{% csrf_token %}
				{{ experience_brief_form.brief }}
				<input type="hidden" name="explorer_id" value="{{ experience.explorer_id }}" />
				<input type="submit" value="Submit" />
			</form>
		{% else %}
			{{ block.super }}
		{% endif %}
	{% endif %}
	<div class="object_item_list">
		{% if experience.narratives.count > 0 %}
			<h3>Narratives</h3>
			<table class="thirds_table">
				<tr>
					{% for narrative in experience.ordered_narratives %}
						<td>
							<div class="thirds_item narrative_dash">
								<h3><a href="/narratives/{{ narrative.id }}/">{{ narrative.title|escape }}</a></h3>
								{% if narrative.gallery.featured_photo %}
									<a href="{{ narrative.gallery.featured_photo.get_absolute_url }}"><img src="{{ narrative.gallery.featured_photo.get_thumbnail_url }}" title="View this photo" /></a>
								{% endif %}
								<h4 onclick="toggle_div('narrative_{{ narrative.id }}_taste');" title="Click to toggle narrative taste">Short Taste <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="narrative_{{ narrative.id }}_taste_toggle_icon" /></h4>
								<div id="narrative_{{ narrative.id }}_taste" class="narrative_taste">
									{{ narrative.taste|escape|linebreaks }}
								</div>
								{% if narrative.category %}
									<p>{{ narrative.category }}</p>
								{% endif %}
								{{ narrative.date_created|timesince }}
								<p>
									By <a href="{% url 'journey' narrative.author.id %}">{{ narrative.author.get_full_name }}</a>
								</p>
								{% if user.is_authenticated %}
									{% ifequal narrative.author request.user %}
										<div class="option_list">
											<a href="{% url 'narratives.views.edit' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit this narrative" class="option_icon" /></a>
											<a href="{% url 'narratives.views.delete' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/delete-icon.png" title="Delete this narrative" class="option_icon" /></a>
										</div>
									{% endifequal %}
									{% get_comment_form for narrative as narr_comment_form %}
									<div class="comment">
										<form action="{% comment_form_target %}" method="POST">
											{% csrf_token %}
											{{ narr_comment_form.comment }}
											{{ narr_comment_form.honeypot }}
											{{ narr_comment_form.object_pk }}
											{{ narr_comment_form.content_type }}
										    {{ narr_comment_form.timestamp }}
										    {{ narr_comment_form.security_hash }}
											<br />
											<input type="hidden" name="next" value="{% url 'narratives.views.index' narrative.id %}">
											<input type="submit" value="Submit Note" />
										</form>
									</div>
								{% endif %}
							</div>
						</td>
						{% if forloop.counter|divisibleby:'3' %}
							{% if not forloop.last %}
								</tr>
								<tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tr>
			</table>
		{% else %}
				No narratives yet...
		{% endif %}
	</div>
	{% if comrade %}
		<h3 title="Click for a new narrative" onclick="toggle_div('new_narrative_form');">Add New Narrative <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="new_narrative_form_toggle_icon" /></h3>
		<div id="new_narrative_form">
			<form action="/experiences/{{ experience.id }}/narratives/create/" method="POST" class="full_width">
				{% csrf_token %}
				{{ form.narrative }}
				<label for="id_title"><h3>Title <em>(optional)</em></h3></label>
				{{ form.title }}
				<label for="id_category"><h3>Category <em>(optional)</em></h3></label>
				{{ form.category }}
				<input type="hidden" name="experience" value="{{ experience.id }}" />
				<input type="submit" value="Add Narrative" />
			</form>
		</div>
	{% endif %}
	{% get_comment_count for experience as exp_comment_count %}
	{% if exp_comment_count > 0 %}
		<h4 title="Click to expand" onclick="toggle_div('exp_comment_list');">{{ exp_comment_count }} Note{{ exp_comment_count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="exp_comment_list_toggle_icon" /></h4>
		<div class="comment_list" id="exp_comment_list">
			{% get_comment_list for experience as exp_comment_list %}
			{% for comment in exp_comment_list reversed %}
				<div class="experience_note">
					<a href="{% url 'journey' comment.user.id %}" title="Visit journey for {{ comment.user.get_full_name }}">{{ comment.user.get_full_name }}</a>
					<br />
					<em>{{ comment.comment|escape}}</em>
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% if user.is_authenticated %}
		{% get_comment_form for experience as exp_comment_form %}
		<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			{{ exp_comment_form.comment }}
			{{ exp_comment_form.honeypot }}
			{{ exp_comment_form.object_pk }}
			{{ exp_comment_form.content_type }}
		    {{ exp_comment_form.timestamp }}
		    {{ exp_comment_form.security_hash }}
			<br />
			<input type="hidden" name="next" value="/experiences/{{ experience.id }}/">
			<input type="submit" value="Submit Note" />
		</form>
	{% endif %}
{% endblock content %}
