{% extends "experiences/base.html" %}

{% load comments %}

{% block content %}
	<script type="text/javascript">
		function submit_brief(form){
            var brief_data = {
                "brief": $(form).find("#id_brief").val()
            };

            $.ajax({
                url: "{% url 'experience_brief' experience.id %}",
                data: brief_data,
                dataType: 'json',
            })
            .done(function(a, b, c){
                ajax_message("Your brief has been saved");
                $("#write_a_brief").hide(800);
                $("#experience_brief").html("<p>" + a['brief'] + "</p>");
            })
            .fail(function(a, b, c){
                ajax_message("Sorry, there was an error saving your brief");
            })

            return false;
        }
	</script>
	<div class="experience_item">
		<h1>{{ experience }}</h1>
		<div class="featured_photo">
			{% if experience.gallery.featured_photo %}
				<a href="{% url 'pl-gallery' experience.gallery.id %}">
					<img src="{{ experience.gallery.featured_photo.get_display_url }}" />
				</a>
				{% if experience.gallery.featured_photo.caption %}
					<div class="caption">
						{{ experience.gallery.featured_photo.caption }}
					</div>
				{% endif %}
			{% else %}
				{% if user in experience.explorers.all %}
					<a href="{% url 'exp_upload_photo' experience.id %}" title="Upload photo for this experience">
						<img src="{{ STATIC_URL }}img/logo.jpg" style="width: 200px;" />
					</a>
				{% else %}
					<img src="{{ STATIC_URL }}img/logo.jpg" style="width: 200px;" />
				{% endif %}
			{% endif %}
		</div>
		<div class="option_list">
			{% if request.user in experience.explorers.all %} 
				<a href="{% url 'create_narrative' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/add.png" title="Create a new narrative" class="option_icon" />
                </a>
				<a href="{% url 'experiences.views.edit' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit this experience" class="option_icon" />
                </a>
				<a href="{% url 'experiences.views.upload_photo' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/camera.png" title="Upload a photo" class="option_icon" />
                </a>
                {% if experience.narratives.count %}
                    <a href="{% url 'transfer_narratives' experience.id %}">
                        <img src="{{ STATIC_URL }}img/icons/transfer.png" title="Transfer chosen narratives to another experience" class="option_icon" />
                    </a>
                {% endif %}
			{% else %}
				{% if user.is_authenticated %}
					{% if experience not in user.tracking_experiences.all %}
						<form action="{% url 'track_experience' experience.id %}" method="POST">
							{% csrf_token %}
							<input type="submit" value="Track" title="Add this experience to your tracking list" />
						</form>
					{% else %}
						<form action="{% url 'untrack_experience' experience.id %}" method="POST">
							{% csrf_token %}
							<input type="submit" value="Untrack" title="Remove this experience from your tracking list" />
						</form>
					{% endif %}
				{% endif %}
			{% endif %}
			{% if experience.gallery %}
				<a href="{% url 'pl-gallery' experience.gallery.id %}">
                    <img src="{{ STATIC_URL }}img/icons/images.png" class="option_icon" title="View photos for this experience" />
                </a>
			{% endif %}
			{% if author %}
				<a href="{% url 'experience_invite' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/add-user.png" class="option_icon" title="Invite a comrade to be a part of this experience" />
                </a>
				<a href="{% url 'experiences.views.delete' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/delete.png" title="Delete this experience" class="option_icon" />
                </a>
			{% endif %}
			{% if user.is_authenticated %}
				<a onclick="toggle_div('{{ experience.id }}_comment');">
				    <img src="{{ STATIC_URL }}img/icons/tack.png" title="Tack on a note" id="{{ experience.id }}_comment_toggle_icon" class="option_icon" />
                </a>
			{% endif %}
			{% ifnotequal user experience.author %}
			    {% if experience.accepts_paypal %}
                    <a href="{% url 'donate' experience.id %}">
                        <img src="{{ STATIC_URL }}img/icons/money.png" class="option_icon"
                         title="Donate - Become a benefactor" />
                    </a>
                {% endif %}
            {% endifnotequal %}
		</div>
		<div id="{{ experience.id }}_comment" class="comment" style="display: none;">
            {% get_comment_form for experience as comment_form %}{% with next_url_name='experience' next_url_pk=experience.id %}
                {% include "support/snippets/note_form.html" %}
            {% endwith %}
        </div>
	</div>
	<div class="explorer_item">
		<h2 onclick="toggle_div('explorers');">Explorer{{ experience.explorers.count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="explorers_toggle_icon" /></h2>
		<div id="explorers" class="toggle_div">
			<table class="thirds_table">
				<tr>
					{% for explorer in experience.explorers.all %}
						<td>
							{% include "explorers/snippets/dash.html" %}
						</td>
					{% endfor %}
				</tr>
			</table>
		</div>
	</div>
	<div class="experience_item" id="experience_brief">
	    <h2>Experience brief</h2>
		{% if experience.brief %}
			{{ experience.embedded_brief|safe|linebreaks }}
		{% else %}
			{% if request.user in experience.explorers.all %}
				<div id="write_a_brief">
					<form action="{% url 'experiences.views.brief' experience.id %}" method="POST" onsubmit="return submit_brief(this)">
						{% csrf_token %}
						{{ experience_brief_form.brief }}
						<input type="hidden" name="explorer_id" value="{{ experience.explorer_id }}" />
						<div class="formatted_input align_center">
							<input type="submit" value="Submit" />
						</div>
					</form>
				</div>
			{% else %}
				{{ block.super }}
			{% endif %}
		{% endif %}
	</div>
	{% if experience.latest_narrative %} {# This also checks for public status #}
		<div class="narrative_item">
		    <h2>Latest narrative</h2>
			{% with experience.latest_narrative as narrative %}
			    {% include "narratives/snippets/narrative.html" %}
			{% endwith %}
		</div>
	{% endif %}

	{% comment %} {# Tried this temporarily, wasn't too impressed...yet %}
	{% if narratives %}
		<h2>Narratives</h2>
		{% if not privileged and experience.password %}
			<h4>If you have been given a password, you may provide it here</h4>
			<form action="{% url 'check_password' experience.id %}" method="POST">
				{% csrf_token %}
				<div class="formatted_input">
					<input type="text" name="password" />
				</div>
				<input type="submit" value="Submit" />
			</form>
		{% endif %}
		<div class="timeline">
			{% for narrative in narratives %}
				<div class="timeline_item">
					{% include "narratives/snippets/dash.html" %}
				</div>
			{% endfor %}
		</div>
	{% else %}
		<h2 class="narrative_item">There are currently no narratives</h2>
	{% endif %}
	{% endcomment %}

	<div class="object_item_list narrative_item">
		{% if experience.narratives.count > 0 %}
			<h2>Narratives</h2>
			{% if not privileged and experience.password %}
				<h4>If you have been given a password, you may provide it here</h4>
				<form action="{% url 'experience_check_password' experience.id %}" method="POST">
					{% csrf_token %}
					<div class="formatted_input">
						<input type="text" name="password" />
					</div>
					<input type="submit" value="Submit" />
				</form>
			{% endif %}
			<table class="thirds_table">
				<tr>
					{% for narrative in narratives %}
						<td>
							{% include "narratives/snippets/dash.html" %}
						</td>
						{% if forloop.counter|divisibleby:'3' %}
							{% if not forloop.last %}
								</tr>
								<tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				</tr>
			</table>
		{% else %}
			<div class="narrative_item">
				<h2>There are currently no narratives</h2>
				{% if user in experience.explorers.all %}
					<h3 class="option"><img style="vertical-align:middle;" src="{{ STATIC_URL }}img/icons/add.png" /><a href="{% url 'create_narrative' experience.id %}">Create new narrative</a></h3>
				{% endif %}
			</div>
		{% endif %}
	</div>
	{% get_comment_count for experience as exp_comment_count %}
	{% if exp_comment_count > 0 %}
		<h4 title="Click to expand" onclick="toggle_div('exp_comment_list');">{{ exp_comment_count }} Note{{ exp_comment_count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="exp_comment_list_toggle_icon" /></h4>
		<div class="comment_list" id="exp_comment_list">
			{% get_comment_list for experience as exp_comment_list %}
			{% for note in exp_comment_list reversed %}
				{% include "support/snippets/note.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if user.is_authenticated %}
		{% get_comment_form for experience as comment_form %}
		<h4 onclick="toggle_div('{{ experience.id }}_note');">Leave a Note <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="{{ experience.id }}_note_toggle_icon" /></h4>
		<div id="{{ experience.id }}_note" class="comment" style="display: none;">
			{# Create context for html snippet #}
			{% with next_url_name='experience' next_url_pk=experience.id %}
			    {% include "support/snippets/note_form.html" %}
			{% endwith %}
		</div>
	{% endif %}
{% endblock content %}
