{% extends "experiences/base.html" %}

{% load comments %}

{% block content %}
    <script type="text/javascript">
        function submit_brief(form){
            var brief_data = {
                "brief": $(form).find("#id_brief").val()
            };

            $.ajax({
                url: "{% url 'experience_brief' experience.id %}",
                data: brief_data,
                dataType: 'json',
            })
            .done(function(a, b, c){
                ajax_message("Your brief has been saved");
                $("#write_a_brief").hide(800);
                $("#experience_brief").html("<p>" + a['brief'] + "</p>");
            })
            .fail(function(a, b, c){
                ajax_message("Sorry, there was an error saving your brief");
            })

            return false;
        }
    </script>
    <div class="experience_item">
        <h1>
			{{ experience }}
            {% if experience.is_fulfilled %}
				<img src="{{ STATIC_URL }}img/icons/award.png"
					class="option_icon valign_middle"
					title="This experience has been fulfilled!"
					alt="Award for fulfilling this experience" />
            {% endif %}
			{% if not experience.is_public %}
				<img src="{{ STATIC_URL }}img/icons/lock.png"
					class="option_icon valign_middle"
					title="This experience is private" />
			{% endif %}
		</h1>
        <div class="position_relative">
            <div class="featured_photo">
                {% if experience.gallery.featured_photo %}
                    <a href="{% url 'pl-gallery' experience.gallery.id %}">
                        <img src="{{ experience.gallery.featured_photo.get_display_url }}" />
                    </a>
                    {% if experience.gallery.featured_photo.caption %}
                        <div class="caption">
                            {{ experience.gallery.featured_photo.caption }}
                        </div>
                    {% endif %}
                {% else %}
                    {% if user in experience.explorers.all %}
                        <a href="{% url 'exp_upload_photo' experience.id %}" title="Upload photo for this experience">
                            <img src="{{ STATIC_URL }}img/logo.png" style="width: 200px;" />
                        </a>
                    {% else %}
                        <img src="{{ STATIC_URL }}img/logo.png" style="width: 200px;" />
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if experience.intended_completion_date and not experience.is_fulfilled %}
            <p>Goal: {{ experience.intended_completion_date|timeuntil }} left</p>
        {% endif %}
        <div class="option_list">
            {% if request.user in experience.explorers.all %} 
                <a href="{% url 'create_narrative' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/add.png" title="Create a new narrative" class="option_icon" />
                </a>
                <a href="{% url 'experiences.views.edit' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit this experience" class="option_icon" />
                </a>
                <a href="{% url 'experiences.views.upload_photo' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/camera.png" title="Upload a photo" class="option_icon" />
                </a>
                {% if experience.narratives.count %}
                    <a href="{% url 'transfer_narratives' experience.id %}">
                        <img src="{{ STATIC_URL }}img/icons/transfer.png" title="Transfer chosen narratives to another experience" class="option_icon" />
                    </a>
                {% endif %}
            {% else %}
                {% if user.is_authenticated %}
                    {% if experience not in user.tracking_experiences.all %}
                        <form action="{% url 'track_experience' experience.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Track" title="Add this experience to your tracking list" />
                        </form>
                    {% else %}
                        <form action="{% url 'untrack_experience' experience.id %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Untrack" title="Remove this experience from your tracking list" />
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if experience.gallery %}
                <a href="{% url 'pl-gallery' experience.gallery.id %}">
                    <img src="{{ STATIC_URL }}img/icons/images.png" class="option_icon" title="View photos for this experience" />
                </a>
            {% endif %}
            {% if author %}
                <a href="{% url 'experience_invite' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/add-user.png" class="option_icon" title="Invite a comrade to be a part of this experience" />
                </a>
                <a href="{% url 'experiences.views.delete' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/delete.png" title="Delete this experience" class="option_icon" />
                </a>
            {% endif %}
            {% if user.is_authenticated %}
                <a onclick="toggle_div('{{ experience.id }}_comment');">
                    <img src="{{ STATIC_URL }}img/icons/tack.png" title="Tack on a note" id="{{ experience.id }}_comment_toggle_icon" class="option_icon" />
                </a>
            {% endif %}
                {% if user != experience.author %}
                    {% if experience.accepts_paypal %}
                        <a href="{% url 'donate' experience.id %}">
                            <img src="{{ STATIC_URL }}img/icons/money.png" class="option_icon"
                 title="Donate - Become a benefactor" />
                        </a>
                    {% endif %}
                {% endif %}
        </div>
        <div id="{{ experience.id }}_comment" class="comment" style="display: none;">
            {% get_comment_form for experience as comment_form %}{% with next_url_name='experience' next_url_pk=experience.id %}
                {% include "support/snippets/note_form.html" %}
            {% endwith %}
        </div>
    </div>

	{% if user in experience.explorers.all %}
		{# Guides explorers through developing new experience #}
		{% include 'experiences/snippets/checklist.html' %}
	{% endif %}

	{% if experience.brief %}
		<div class="experience_item" id="experience_brief">
			<h2>Experience brief</h2>
			{{ experience.embedded_brief|safe|linebreaks }}
		</div>
	{% endif %}

    <div class="explorer_item">
        <h2 onclick="toggle_div('explorers');">Explorer{{ experience.explorers.count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="explorers_toggle_icon" /></h2>
        <div id="explorers" class="toggle_div">
            <table class="thirds_table">
                <tr>
                    {% for explorer in experience.explorers.all %}
                        <td>
                            {% include "explorers/snippets/dash.html" %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>


	{% if request.user in experience.explorers.all %}
		{% if experience.narratives.count %}
			{% with narrative=experience.latest_narrative %}
				<div class="narrative_item">
					<h2>Latest narrative</h2>
						{% include "narratives/snippets/narrative.html" %}
				</div>
			{% endwith %}
		{% endif %}
	{% else %}
		{% if experience.public_narratives.count %}
			{% with narrative=experience.latest_public_narrative %}
				<div class="narrative_item">
					<h2>Latest narrative</h2>
						{% include "narratives/snippets/narrative.html" %}
				</div>
			{% endwith %}
		{% endif %}
	{% endif %}

    {% comment %} {# Tried this temporarily, wasn't too impressed...yet %}
    {% if narratives %}
            <h2>Narratives</h2>
            {% if not privileged and experience.password %}
                    <h4>If you have been given a password, you may provide it here</h4>
                    <form action="{% url 'check_password' experience.id %}" method="POST">
                            {% csrf_token %}
                            <div class="formatted_input">
                                    <input type="text" name="password" />
                            </div>
                            <input type="submit" value="Submit" />
                    </form>
            {% endif %}
            <div class="timeline">
                    {% for narrative in narratives %}
                            <div class="timeline_item">
                                    {% include "narratives/snippets/dash.html" %}
                            </div>
                    {% endfor %}
            </div>
    {% else %}
            <h2 class="narrative_item">There are currently no narratives</h2>
    {% endif %}
    {% endcomment %}

    <div class="object_item_list narrative_item">
        {% if narratives|length > 0 %}
            <h2>All Narratives</h2>
            {% if not privileged and experience.password %}
                <h4>If you have been given a password, you may provide it here</h4>
                <form action="{% url 'experience_check_password' experience.id %}" method="POST">
                    {% csrf_token %}
                    <div class="formatted_input">
                        <input type="text" name="password" />
                    </div>
                    <input type="submit" value="Submit" />
                </form>
            {% endif %}
            <div class="thirds_table">
                {% for narrative in narratives %}
                    <div class="cell">
                        {% include "narratives/snippets/dash.html" %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="narrative_item">
                <h2>There are currently no narratives</h2>
                {% if user in experience.explorers.all %}
                    <h3 class="option"><img style="vertical-align:middle;" src="{{ STATIC_URL }}img/icons/add.png" /><a href="{% url 'create_narrative' experience.id %}">Create new narrative</a></h3>
                {% endif %}
            </div>
        {% endif %}
    </div>

	{% if not experience.brief %}
		{% if request.user in experience.explorers.all %}
			{# Provide a form for writing one #}
			<div class="experience_item">
				<h2>Experience brief</h2>
				<div class="about_this">
					<div onclick="toggle_div('about_brief');">
						About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_brief_toggle_icon" class="valign_middle" />
					</div>
					<div id="about_brief" class="toggle_div help-text">
						{{ experience.get_brief_help_text }}
					</div>
				</div>
				<div id="write_a_brief">
					<form action="{% url 'experiences.views.brief' experience.id %}" method="POST" onsubmit="return submit_brief(this)">
						{% csrf_token %}
						{{ experience_brief_form.brief }}
						<input type="hidden" name="explorer_id" value="{{ experience.explorer_id }}" />
						<div class="formatted_input align_center">
							<input type="submit" value="Submit" />
						</div>
					</form>
				</div>
			</div>
		{% else %}
			{{ block.super }}
		{% endif %}
	{% endif %}

    {% get_comment_count for experience as exp_comment_count %}
    {% if exp_comment_count > 0 %}
        <h4 title="Click to expand" onclick="toggle_div('exp_comment_list');">{{ exp_comment_count }} Note{{ exp_comment_count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" class="valign_middle" id="exp_comment_list_toggle_icon" /></h4>
        <div class="comment_list" id="exp_comment_list">
            {% get_comment_list for experience as exp_comment_list %}
            {% for note in exp_comment_list reversed %}
                {% include "support/snippets/note.html" %}
            {% endfor %}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        {% get_comment_form for experience as comment_form %}
        <h4 onclick="toggle_div('{{ experience.id }}_note');">Leave a Note <img src="{{ STATIC_URL }}img/icons/expand-icon.png" class="valign_middle" id="{{ experience.id }}_note_toggle_icon" /></h4>
        <div id="{{ experience.id }}_note" class="comment" style="display: none;">
            {# Create context for html snippet #}
            {% with next_url_name='experience' next_url_pk=experience.id %}
                {% include "support/snippets/note_form.html" %}
            {% endwith %}
        </div>
    {% endif %}
{% endblock content %}
