{% extends "experiences/base.html" %}

{% block content %}
	<h2>Invite a Comrade to {{ experience }}</h2>
	<div class="option_list">
		<a href="/experiences/{{ experience.id }}/narratives/create/"><img src="{{ STATIC_URL }}img/icons/new-narrative-icon.png" title="Create a new narrative" class="option_icon" /></a>
		<a href="{% url 'experiences.views.edit' experience.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit this experience" class="option_icon" /></a>
		<a href="/photologue/gallery/{{ experience.gallery.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload a photo" class="option_icon" /></a>
		{% if experience.gallery %}
			{% comment %}
				Removed in order to be placed on the gallery page
				<a href="/photologue/gallery/{{ experience.gallery.id }}/edit/"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit album" class="option_icon" /></a>
			{% endcomment %}
			<a href="{% url 'pl-gallery' experience.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/gallery-icon.png" class="option_icon" title="View Photos for {{ experience }}" /></a>
		{% endif %}
	</div>
	{% for explorer in explorers %}
		<div class="explorer_item">
			{% if explorer.gallery.featured_photo %}
				<img src="{{ explorer.gallery.featured_photo.get_icon_url }}" title="{{ explorer.ger_full_name }}" />
			{% endif %}
			<h3>{{ explorer.get_full_name }}</h3>
			Featured Experience: {{ explorer.featured_experience }}
			<br />
			<form action="" method="POST">
				{% csrf_token %}
				<input type="submit" value="Invite" name="invite" class="invite-button" />
				<input type="hidden" name="explorer_id" value="{{ explorer.id }}">
			</form>
		</div>
		<hr />	
	{% endfor %}
	{% comment %}
	<form action="" method="POST">
		{% csrf_token %}
		<strong>/*Following function not yet working:*/</strong>
		<h3>Invite someone not yet on this site</h3>
		<p>
			<label for="id_first_name">First name:</label>
			<br />
			<input type="text" name="first_name" id="id_first_name" />
		</p>
		<p>
			<label for="id_last_name">Last name:</label>
			<br />
			<input type="text" name="last_name" id="id_first_name" />
		</p>
		<p>
			<label for="id_email">Email address:</label>
			<br />
			<input type="text" name="email" id="id_email" />
		</p>
		<input type="submit" value="Invite">
	</form>
	{% endcomment %}
{% endblock content %}