{% extends 'experiences/base.html' %}

{% block content %}
    <h2>Transfer narratives</h2>
    {% if narrative_forms %}
        <p>
            Select "transfer" or "copy" from drop-down menu on the left for the narratives you want to transfer. Those left blank won't be affected. Select experience you want to transfer of check box for new experience on the right.
        </p>
        <form action="{% url 'transfer_narratives' experience.id %}" method="POST">
            {% csrf_token %}
            <div class="halves_table">  
                <div class="cell">
                    <div class="experience_item">
                        <h3>From</h3>
                        <h3 class="experience_item">
                            {{ experience }}
                        </h3>
                        <hr />
                        <div class="narrative_item">
                            <h3>Select narratives to transfer or copy</h3>
                            {% for narrative_form in narrative_forms %}
                                <hr />
                                <div class="narrative_item">
                                    <div>
                                        <div class="left">
                                            {% with narrative_form.instance as narrative %}
                                                {% include 'narratives/snippets/dash.html' %}
                                            {% endwith %}
                                        </div>
                                        <div class="right">
                                            {{ narrative_form.potential_actions }}
                                            <input type="hidden" name="narrative_ids" value="{{ narrative_form.instance.id }}" />
                                        </div>
                                    </div>
                                    <div class="clear_both"></div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="cell experience_item" style="vertical-align: top;">
                    <h3>To</h3>
                    <ul>
                        <li class="experience_item" style="margin-bottom: 35px;">
                            <h3>Existing experience</h3>
                            <select name="to_experience_id" id="existing_experience">
                                <option value="">-----</option>
                                {% for experience in other_experiences %}
                                    <option value="{{ experience.id }}">{{ experience }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <h3>or</h3>
                        <li class="experience_item">
                            <label for="new_experience">
                                <h3>New experience <input type="checkbox" name="new_experience" id="new_experience" onclick="toggle_div('new_experience_form');" /></h3>
                            </label>
                            <div id="new_experience_form" class="formatted_input toggle_div">
                                <h4>Title</h4>
                                {{ new_experience_form.experience }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="formatted_input align_center">
                <input type="submit" value="Transfer" />
            </div>
        </form>
    {% else %}
        <p>There are no narratives to transfer</p>
    {% endif %}
{% endblock content %}
