{% extends "base.html" %}

{% block head_insert %}
	{# Load the image for the featured experience since this is generic #}
	{% if experience.gallery.featured_photo %}
		<style type="text/css">
			html {
				background-image: url({{ experience.gallery.featured_photo.image.url }});
			}
		</style>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock head_insert %}

{% block content %}
    <div class="narrative_item">
        <div class="jumbotron">
            <h1>Create Narrative</h1>
            <h2>{{ experience }}</h2>
        </div>
    </div>

    <form action="{% url 'create_narrative' experience.id %}" method="POST">
        {% csrf_token %}

        {{ form.as_ul }}

        <div class="align_center">
            <input type="submit" value="Add narrative" />
        </div>
    </form>
{% endblock content %}
