{% load comments %}

{% comment %}
    HTML for the narrative items currently being used in several templates.
    Assumes that the object is passed in as context `narrative`
{% endcomment %}

<div class="thirds_item narrative_dash">
    <h3><a href="/narratives/{{ narrative.id }}/">{{ narrative.title|escape }}</a></h3>
    {% if narrative.gallery.featured_photo %}
        <div class="featured_photo">
            <a href="{{ narrative.gallery.featured_photo.get_absolute_url }}"><img src="{{ narrative.gallery.featured_photo.get_thumbnail_url }}" title="View this photo" /></a>
        </div>
    {% endif %}
    <h4 onclick="toggle_div('narrative_{{ narrative.id }}_taste');" title="Click to toggle narrative taste">Short Taste <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="narrative_{{ narrative.id }}_taste_toggle_icon" /></h4>
    <div id="narrative_{{ narrative.id }}_taste" class="narrative_taste">
        {{ narrative.taste|escape|linebreaks }}
    </div>
    {% if narrative.category %}
        <p>{{ narrative.category }}</p>
    {% endif %}
    {{ narrative.date_created|timesince }} ago
    <p>
        By <a href="{% url 'journey' narrative.author.id %}">{{ narrative.author.get_full_name }}</a>
    </p>
    {% if user.is_authenticated %}
        {% ifequal narrative.author request.user %}
            <div class="option_list">
                <a href="{% url 'narratives.views.edit' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit this narrative" class="option_icon" /></a>
                <a href="{% url 'narratives.views.delete' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/delete-icon.png" title="Delete this narrative" class="option_icon" /></a>
            </div>
        {% endifequal %}
        {% get_comment_form for narrative as narr_comment_form %}
        <h4 onclick="toggle_div('{{ narrative.id }}_comment');" title="Click to toggle the note form">Leave a Note <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="{{ narrative.id }}_comment_toggle_icon" /></h4>
        <div class="comment" id="{{ narrative.id }}_comment" style="display: none;">
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ narr_comment_form.comment }}
                {{ narr_comment_form.honeypot }}
                {{ narr_comment_form.object_pk }}
                {{ narr_comment_form.content_type }}
                {{ narr_comment_form.timestamp }}
                {{ narr_comment_form.security_hash }}
                <br />
                <input type="hidden" name="next" value="{% url 'narratives.views.index' narrative.id %}">
                <input type="submit" value="Submit Note" />
            </form>
        </div>
    {% endif %}
</div>
