{% extends "narratives/base.html" %}

{% block head_insert %}
	<script>
		// function prepare(){
		// 	$("#edit_narrative").submit(function(event){
		// 		var values = $(this).serialize();

		// 		$.ajax({
		// 			url: "/narratives/{{ narrative.id }}/save",
		// 			data: values,
		// 			success: function(json){
		// 				alert(json["success"]);
		// 			},
		// 			error: function(json){
		// 				alert(json["success"]);
		// 			},
		// 		});
		// 		return false;
		// 	})
		// }
		// $(document).ready(prepare); // Ensures element exists first
	</script>
{% endblock head_insert %}

{% block content %}
	<h2>Editing narrative <em>{{ narrative }}</em></h2>
	<form action="" id="edit_narrative" method="POST" class="full_width">
		{% csrf_token %}
		<div class="formatted_input">
			<h3><label for="id_title">Title</label></h3>
			{{ form.title.errors }}
			{{ form.title }}
		</div>
		<div class="formatted_input">
			<h3>From experience</h3>
			{{ form.experience.errors }}
			{{ form.experience }}
		</div>
		<div class="formatted_input">	
			<h3>Date created</h3>
			{{ form.date_created.errors }}
			{{ form.date_created }}
		</div>
		<div class="formatted_input">
			<h3>Narrative</h3>
			{{ form.narrative.errors }}
			{{ form.narrative }}
		</div>
		<div class="formatted_input">
			<h3>Assign this narrative to a category (optional)</h3>
			{{ form.category.errors }}
			{{ form.category }}
		</div>
		<div class="formatted_input">
			<strong>Public?</strong> {{ form.is_public }}
			{{ form.is_public.errors }}
			<p onclick="toggle_div(this.nextElementSibling);">
				<strong>About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="is_public_help_text_toggle_icon" /></strong>
			</p>
			<div class="toggle_div smaller_font" id="is_public_help_text">
				{{ form.is_public.help_text }}
			</div>
		</div>
		<input type="hidden" name="narrative_id" value="{{ narrative.id }}" />
		<input type="hidden" name="experience" value="{{ narrative.experience.id }}"/>
		<input type="submit" value="Update" />
	</form>
{% endblock content %}