{% extends "narratives/base.html" %}

{% load disqus_tags %}
{% load comments %}

{% block content %}
	{# What was formerly here has been moved to a separate file so it may be reused for experience index's latest narrative #}
	{% include "narratives/snippets/narrative.html" %}

    {% disqus_dev %}
    {% disqus_sso %}
    {% set_disqus_title narrative.title %}
    {% set_disqus_identifier 'narrative_' narrative.pk|stringformat:"i" %}
    {% set_disqus_url narrative.get_full_absolute_url %}
    {% disqus_show_comments %}

    {% get_comment_count for narrative as narr_comment_count %}
    {% if narr_comment_count > 0 %}
        <h4 title="Click to see comments" onclick="toggle_div('narr_comment_list');">{{ narr_comment_count }} note{{ narr_comment_count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="narr_comment_list_toggle_icon" /></h4>
        <div class="comment_list" id="narr_comment_list" style="display: none;">
            {% get_comment_list for narrative as narr_comment_list %}
            {% for note in narr_comment_list reversed %}
                {% include "support/snippets/note.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
