{% extends "narratives/base.html" %}

{% load comments %}

{% block content %}
	<div class="narrative_detail">
		<h2>{{ narrative.title }}</h2>
		<p>from experience <a href="{% url 'experience' narrative.experience.id %}">{{ narrative.experience }}</p></a>
		{% if not narrative.is_public %}
			<strong>This is a private narrative. It can only be viewed by the explorers of the narrative's experience.</strong>
		{% endif %}
		<div class="option_list">
			<a href="{% url 'experiences.views.index' narrative.experience.id %}"><img src="{{ STATIC_URL }}img/icons/back-icon.png" title="Back to the experience page" class="option_icon" /></a>
			{% if narrative.gallery %}
				<a href="{% url 'pl-gallery' narrative.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/gallery-icon.png" class="option_icon" title="View Photos for {{ narrative }}" /></a>
			{% endif %}
			{% if author %}
				<a href="{% url 'narratives.views.edit' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit this narrative" class="option_icon" /></a>
				<a href="/narratives/{{ narrative.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload a photo" class="option_icon" /></a>
				<a href="{% url 'narratives.views.delete' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/delete-icon.png" title="Delete this narrative" class="option_icon" /></a>
			{% endif %}
		</div>
		{% if narrative.gallery.photos %}
			<div class="images_right">
				{% for photo in narrative.gallery.photos.all %}
					<div class="narrative_photo">
						<a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" title="{{ photo.title }}" /></a>
						{% if photo.caption %}
							<div class="photo_caption">
								{{ photo.caption }}
							</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
		<p>{{ narrative.date_created|date:"F j, Y" }}</p>
		{% if narrative.parse_for_embed %}
			<p>{{ narrative.parse_for_embed|safe }}</p>
		{% endif %}
		<p>
			{{ narrative.narrative|linebreaks }}
		</p>
		<div class="clear_both"> </div>
	</div>
	<div class="next_previous">
		{% if narrative.get_previous_narrative %}
			<a href="{% url 'narratives.views.index' narrative.get_previous_narrative.id %}" title="{{ narrative.get_previous_narrative }}"><img src="{{ STATIC_URL }}img/icons/previous-icon.png" class="float_right" title="Previous narrative" /></a>
		{% endif %}
		{% if narrative.get_next_narrative %}
			<a href="{% url 'narratives.views.index' narrative.get_next_narrative.id %}" title="{{ narrative.get_next_narrative }}"><img src="{{ STATIC_URL }}img/icons/next-icon.png" class="float_left" title="Next narrative" /></a>
		{% endif %}
	</div>
	{% get_comment_count for narrative as narr_comment_count %}
	{% if narr_comment_count > 0 %}
		<h4 title="Click to see comments" onclick="toggle_div('narr_comment_list');">{{ narr_comment_count }} note{{ narr_comment_count|pluralize }} <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="narr_comment_list_toggle_icon" /></h4>
		<div class="comment_list" id="narr_comment_list" style="display: none;">
			{% get_comment_list for narrative as narr_comment_list %}
			{% for note in narr_comment_list reversed %}
				{% include "support/note_snippet.html" %}
			{% endfor %}
		</div>
	{% endif %}
	{% if user.is_authenticated %}
		{% get_comment_form for narrative as comment_form %}
		<h4 onclick="toggle_div('{{ narrative.id }}_note')";>Leave a Note <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="{{ narrative.id }}_note_toggle_icon" /></h4>
		<div id="{{ narrative.id }}_note" class="comment" style="display: none;">
			{% with next_url_name='narrative' next_url_pk=narrative.id %}
			    {% include "support/note_form.html" %}
			{% endwith %}
		</div>
	{% endif %}
{% endblock content %}
