{# Expects user object passed in as explorer #}
{# Referring template must convert accordingly (with-as statement) #}

{% load explorers_extras %}
{% load notifications_tags %}

<div class="explorer_item">
    <div class="featured_photo">
        {% if explorer.gallery.featured_photo %}
            <a href="{% url 'journey' explorer.id %}"><img src="{{ explorer.gallery.featured_photo.get_thumbnail_url }}" /></a>
        {% else %}
            {% ifequal explorer user %}
                <a href="/photologue/gallery/{{ explorer.gallery.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/explorer-icon.png" title="Upload photo for your story" /></a>
            {% endifequal %}
        {% endif %}
    </div>
    <h3 class="align_center">
        {{ explorer.get_full_trailname }}
    </h3>
    {% if explorer.brief %}
        <div class="object_item">
            <div onclick="toggle_div(this.nextElementSibling);">
                {% ifequal explorer user %}Your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} brief <img src="{{ STATIC_URL }}img/icons/expand-icon.png" />
            </div>
            <div class="toggle_div">
                <p>{{ explorer.brief|linebreaks }}</p>
            </div>
        </div>
    {% endif %}
    {% ifequal user explorer %}
        {% notifications_unread as unread_count %}
        {% if unread_count %}
            <a href="{% url 'board' explorer.id %}">{{ unread_count }} new notification{{ unread_count|pluralize }}</a>
        {% endif %}
    {% endifequal %}
    <div class="option_list">
        <a href="{% url 'journey' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/journey-icon.png" title="Visit {% ifequal user explorer %}your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} journey" class="option_icon" /></a>
        <a href="{% url 'story' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/profile-icon.png" title="View {% ifequal explorer user %}your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} story" class="option_icon" /></a>
        <a href="{% url 'explorers.views.board' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/bulletin-board-icon.png" title="View {% ifequal explorer user %}your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} bulletin board" class="option_icon" /></a>
        {% if explorer.gallery.featured_photo %}
            <a href="{% url 'pl-gallery' explorer.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/gallery-icon.png" title="View {% ifequal explorer user %}your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} photos" class="option_icon" /></a>
        {% endif %}
        {% ifequal user explorer %} 
            <a href="{% url 'create_experience' %}"><img src="{{ STATIC_URL }}img/icons/new-experience-icon.png" class="option_icon" title="Create new experience" /></a>
        {% endifequal %}
    </div>
    {% if explorer.featured_experience %}
        <div onclick="toggle_div(this.nextElementSibling);" title="Click to toggle {% ifequal user explorer %}your{% else %}{{ explorer.get_full_name|possessive }}{% endifequal %} featured experience" style="font-weight: bold;">
            Featured experience <img src="{{ STATIC_URL }}img/icons/expand-icon.png" />
        </div>
        <div class="toggle_div">
            {% with explorer.featured_experience as experience %}
                {% include "experiences/snippets/dash.html" %}
            {% endwith %}
        </div>
    {% endif %}
</div>