{# Requires specified url variable for context i.e. /explorers/random #}

{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="{{ url }}?page={{ page_obj.previous_page_number }}" title="previous"><img src="{{ STATIC_URL }}img/icons/previous-icon.png" /></a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
                <a href="{{ url }}?page={{ page_obj.next_page_number }}" title="next"><img src="{{ STATIC_URL }}img/icons/next-icon.png" /></a>
            {% endif %}
        </span>
    </div>
{% endif %}