{% extends "base.html" %}

{% block head_insert %}
	{% if explorer.featured_experience.gallery.featured_photo %}
		<style type="text/css">
			html {
				background-image: url({{ explorer.featured_experience.gallery.featured_photo.image.url }});
			}
		</style>
	{% else %}
		{{ block.super }}
	{% endif %}
    <script type="text/javascript">
		$(document).ready(function(){
			var options = {
				resetForm: true,
				error: errorHandler,
				dataType: 'json',
				success: addExperience,
			};

			$('#create_experience').submit(function(){
				$(this).ajaxSubmit(options);
				return false;
			});

			function addExperience(r){
				$("#experiences_list").append(r.html);
			}

			function errorHandler(jqXHR, textStatus, errorThrown){
				alert("There was a problem submitting the experience");
			}
		})
	</script>
{% endblock head_insert %}
