{% extends "explorers/base.html" %}

{% load explorers_extras %}

{% block content %}
	<div id="bulletin_board">
		<div id="bulletin_board_background"></div>
		{% if notifications %}
			{% include 'notifications/list.html' %}
		{% endif %}
		<h1>{{ notification }}</h1>
		<h2><a href="{% url 'journey' explorer.id %}" title="To {{ explorer.get_full_name|possessive }} journey">{{ explorer.get_full_name|possessive }}</a> Bulletin Board</h2>
		{% if requests %}
			<h3>Requests:</h3>
			{% for request in requests %}
				<div class="request_dash">
					{% if owner %}You have{% else %}{{ explorer.get_full_name }} has{% endif %} been invited to be a part of
					<h3>
						<a href="{% url 'experiences.views.index' request.experience.id %}">{{ request }}</a>
					</h3>
					by {{ request.author.get_full_name }}
					{% if owner %}
						<p>
							<form action="" name="invite_respond" method="POST">
								{% csrf_token %}
								<input type="hidden" name="from_explorer_id" value="{{ request.from_explorer.id }}" />
								<input type="hidden" name="to_explorer_id" value="{{ request.to_explorer.id }}" />
								<input type="hidden" name="experience_id" value="{{ request.experience.id }}" />
								<input type="hidden" name="invitation_request_id" value="{{ request.id }}" />
								<input type="submit" name="accept" value="Accept" />
								<input type="submit" name="decline" value="Decline" />
							</form>
						</p>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
		{% if eo_notes %}
			<h2>Your Personal Notes</h2>
			{% for note in eo_notes %}
				{% include "support/snippets/note.html" %}
			{% endfor %}
		{% endif %}
		{% if ei_notes %}
			<h2>Experience Notes</h2>
			{% for note in ei_notes %}
				{% include "support/snippets/note.html" %}
			{% endfor %}
		{% endif %}
		{% if nr_notes %}
			<h2>Narrative Notes</h2>
			{% for note in nr_notes %}
				{% include "support/snippets/note.html" %}
			{% endfor %}
		{% endif %}
		{% if nothing %}
			<h2>There is nothing here at the moment</h2>
		{% endif %}
	</div>
{% endblock content %}