{% extends "explorers/base.html" %}

{% block content %}
    <h2>Change Password</h2>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="formatted_input">
            Current password
            <br />
            {{ form.current_password }}  <a href="{% url 'reset_password' %}">Forgot password?</a>
            {% for error in form.current_password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="formatted_input">
            New password
            <br />
            {{ form.new_password1 }}
            {% for error in form.new_password1.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="formatted_input">
            Verify new password
            <br />
            {{ form.new_password2 }}
            {% for error in form.new_password2.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <input type="submit" value="Change" />
    </form>
{% endblock content %}
