{% extends "explorers/base.html" %}

{% load explorers_extras %}

{% block content %}
	
	{% comment %}
	<div class="explorer_item">
		<h1>{{ explorer.get_full_name|possessive }} Journey</h1>
		{% if explorer.gallery.featured_photo %}
			<div>
				<a href="{% url 'pl-gallery' explorer.gallery.id %}">
					<img src="{{ explorer.gallery.featured_photo.get_thumbnail_url }}" title="{{ explorer.get_full_name }}" />
				</a>
			</div>
		{% endif %}
		<h3 title="Trailname">Trailname: {{ explorer.trailname }}</h3>
		<div class="option_list">
			<a href="{% url 'story' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/profile-icon.png" title="{{ explorer.first_name|possessive }} Story" class="option_icon" /></a>
			<a href="{% url 'board' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/bulletin-board-icon.png" title="Check out the Bulletin Board" class="option_icon" /></a>
			
		</div>
	</div>
	{% endcomment %}

	{% ifnotequal user explorer %}
		{% include "explorers/snippets/dash.html" %}
	{% endifnotequal %}

	{% for experience in experiences %}
		{% if forloop.first %}
			{% ifequal experience explorer.featured_experience %}
				<h2>Featured Experience</h2>
			{% else %}
				<h2>Experiences</h2>
			{% endifequal %}
		{% endif %}
		<div{% if not forloop.last %} style="margin-bottom:100px;"{% endif %}>
			{% include "experiences/snippets/dash.html" %}
		</div>
		{% if forloop.first %}
			{% if not forloop.last %}
				{% ifequal experience explorer.featured_experience %}
					<h2>Shelved Experiences</h2>
				{% endifequal %}
			{% endif %}
		{% endif %}
	{% empty %}
		{% ifequal user explorer %}
			<h2>Create your first experience</h2>
			{% include "experiences/forms/create_experience_form.html" %}
		{% else %}
			{{ explorer }} doesn't currently have any public experiences
		{% endifequal %}
	{% endfor %}
{% endblock content %}
