{% extends "explorers/base.html" %}

{% load explorers_extras %}
{% load acressity_extras %}

{% block content %}
    <div class="explorer_item">
        <div class="jumbotron">
            {% if user != explorer %}
                <h1>{{ explorer.get_full_name|possessive }} Journey</h1>
            {% else %}
                <h1>Your Journey</h1>
            {% endif %}
        </div>
    </div>

    {% if user != explorer %}
        {% include "explorers/snippets/dash.html" %}
    {% endif %}
	<div class="experience_list">
		{% for experience in experiences %}
			{% if forloop.first %}
				{% if experience == explorer.featured_experience %}
					<h2>Featured Experience</h2>
				{% else %}
					<h2>Experiences</h2>
				{% endif %}
			{% endif %}
			{% include "experiences/snippets/dash.html" %}
			{% if forloop.first %}
				{% if not forloop.last %}
					{% if experience == explorer.featured_experience %}
						<h2>Shelved Experiences</h2>
					{% endif %}
				{% endif %}
			{% endif %}
		{% empty %}
			{% if user != explorer %}
				{{ explorer }} doesn't currently have any public experiences
			{% else %}
				<div class="post_it">
                    <h2>It's good to have you here!</h2>
                    <p>This application is designed to help you explore new experiences, with each experience being an item in your bucketlist.
				    </p>
                    <p>Begin by <a href="{% url 'create_experience' %}">creating experiences</a> you wish to have</p>
				    <ul>
				    	<li>Feature one experience upon which you're currently focusing</li>
				    	<li>Write narratives to record your progress for each experience</li>
                        {% if not user.gallery.featured_photo %}
				    	    <li><a href="/photologue/gallery/{{ explorer.gallery.id }}/upload_photo/">Upload</a> a photo to be displayed beside your journey</li>
                        {% endif %}
				    </ul>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	{% if user == explorer %}
        <div class="experience_item">
            <div class="experience_item">
                <h3 class="toggler" onclick="toggle_div('create_experience_div');">
                    {% if experiences %}
                        Add another experience to your journey
                    {% else %}
                        Create a new experience for your journey
                    {% endif %}
                    <img src="{{ STATIC_URL }}img/icons/expand-icon.png"
                    class="valign_middle" id="create_experience_div_toggle_icon" />
                </h3>
                <div id="create_experience_div" class="toggle_div">
                    {% url 'create_experience' as url %}
                    {% include 'experiences/forms/experience_form.html' %}
                </div>
            </div>
        </div>
	{% endif %}
{% endblock content %}
