{% extends "explorers/base.html" %}

{% load explorers_extras %}

{% block content %}
	
	{% comment %}
	<div class="explorer_item">
		<h1>{{ explorer.get_full_name|possessive }} Journey</h1>
		{% if explorer.gallery.featured_photo %}
			<div>
				<a href="{% url 'pl-gallery' explorer.gallery.id %}">
					<img src="{{ explorer.gallery.featured_photo.get_thumbnail_url }}" title="{{ explorer.get_full_name }}" />
				</a>
			</div>
		{% endif %}
		<h3 title="Trailname">Trailname: {{ explorer.trailname }}</h3>
		<div class="option_list">
			<a href="{% url 'story' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/profile-icon.png" title="{{ explorer.first_name|possessive }} Story" class="option_icon" /></a>
			<a href="{% url 'board' explorer.id %}"><img src="{{ STATIC_URL }}img/icons/bulletin-board-icon.png" title="Check out the Bulletin Board" class="option_icon" /></a>
			
		</div>
	</div>
	{% endcomment %}

	{% ifnotequal user explorer %}
		{% include "explorers/snippets/dash.html" %}
	{% else %}
		<h1 style="text-align: center;">Your Journey</h1>
	{% endifnotequal %}
	<div id="experiences_list" class="experience_item">
		{% for experience in experiences %}
			{% if forloop.first %}
				{% ifequal experience explorer.featured_experience %}
					<h2>Featured Experience</h2>
				{% else %}
					<h2>Experiences</h2>
				{% endifequal %}
			{% endif %}
			{% include "experiences/snippets/dash.html" %}
			{% if forloop.first %}
				{% if not forloop.last %}
					{% ifequal experience explorer.featured_experience %}
						<h2>Shelved Experiences</h2>
					{% endifequal %}
				{% endif %}
			{% endif %}
		{% empty %}
			{% ifnotequal user explorer %}
				{{ explorer }} doesn't currently have any public experiences
			{% else %}
				<div class="post_it">
                    <h2>It's good to have you here!</h2>
                    <p>This application is designed to help you explore new experiences, with each experience being an item in your bucketlist.
				    </p>
                    <p>Begin by <a href="{% url 'create_experience' %}">creating experiences</a> you wish to have</p>
				    <ul>
				    	<li>Feature one experience which you're currently focusing</li>
				    	<li>Write narratives to record your progress for each experience</li>
                        {% if not user.gallery.featured_photo %}
				    	    <li><a href="/photologue/gallery/{{ explorer.gallery.id }}/upload_photo/">Upload</a> a photo to be displayed beside your journey</li>
                        {% endif %}
				    </ul>
				</div>
			{% endifnotequal %}
		{% endfor %}
	</div>
	{% ifequal user explorer %}
		<div class="experience_item">
			<h3 class="toggler" onclick="toggle_div('create_experience_div');">
                {% if experiences %}
                    Add another experience to your journey
                {% else %}
                    Create a new experience for your journey
                {% endif %}
                <img src="{{ STATIC_URL }}img/icons/expand-icon.png"
                class="valign_middle" id="create_experience_div_toggle_icon" />
            </h3>
			<div id="create_experience_div" class="toggle_div">
			    {% url 'create_experience' as url %}
			    {% include 'experiences/forms/experience_form.html' %}
			</div>
		</div>
	{% endifequal %}
{% endblock content %}
