{% extends "explorers/base.html" %}

{% load comments %}

{% block content %}
	<div class="explorer_portrait">
		{% if explorer.gallery.featured_photo %}
		    <a href="{{ explorer.gallery.get_absolute_url }}"><img src="{{ explorer.gallery.featured_photo.get_thumbnail_url }}" title="Explorer Portrait" /></a>
		{% else %}
			{% if owner %}
				<a href="/photologue/gallery/{{ explorer.gallery.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/user-icon.png" title="Upload photo for your story" /></a>
			{% else %}
				<img src="{{ STATIC_URL }}img/icons/explorer-icon.png" title="No portrait chosen yet" />
			{% endif %}
		{% endif %}
	</div>
	<h2>{{ explorer.get_full_name }}</h2>
	{% if not owner and user.is_authenticated and request.user not in explorer.cheerers %}
		<form action="/explorers/{{ explorer.id }}/cheer/" method="POST">
			{% csrf_token %}
			<input type="hidden" name="explorer" value="{{ explorer.get_full_name }}" />
			<input type="submit" name="cheer" value="Cheer" title="Subscribe to {{ explorer.get_full_name }}" onclick="var a = verify('Subscribe to {{ explorer.get_full_name }}?'); return a;" />
		</form>
	{% endif %}
	{% if owner %}
		<p>
			<a href="{% url 'change_password' %}">Change your password</a>
		</p>
		<form method="POST">
			{% csrf_token %}
			<div class="formatted_input">
				<label>
					<h3>First name</h3>
				</label>
				{{ form.first_name.errors }}
				{{ form.first_name }}
			</div>
			<div class="formatted_input">
				<label>
					<h3>Last name</h3>
				</label>
				{{ form.last_name.errors }}
				{{ form.last_name }}
			</div>
			<div class="formatted_input">
				<label>
					<h3>Trailname</h3>
				</label>
				{{ form.trailname.errors }}
				{{ form.trailname }}
				<h4 onclick="toggle_div('about_trailname');">About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_trailname_toggle_icon" /></h4>
				<div id="about_trailname" class="help_text">
					{{ form.trailname.help_text|safe }}
				</div>
			</div>
			<div class="formatted_input">
				<label for="id_featured_experience">
					<h3>Featured experience</h3>
				</label>
				{{ form.featured_experience.errors }}
				{{ form.featured_experience }}
			</div>
			<div class="formatted_input">
				<label>
					<h3>Brief</h3>
				</label>
				{{ form.brief.errors }}
				{{ form.brief}}
			</div>
			<div class="formatted_input">
				<label>
					<h3>Email</h3>
				</label>
				{{ form.email.errors }}
				{{ form.email }}
				<h4 onclick="toggle_div('about_email');">About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_email_toggle_icon" /></h4>
				<div id="about_email" class="help_text">
					{{ form.email.help_text }}
				</div>
			</div>
			<div class="formatted_input">
				{# Having label for this doesn't make sense: no obvious first input #}
				<h3>Birthdate</h3>
				{{ form.birthdate.errors }}
				{{ form.birthdate }}
			</div>
			<input type="submit" value="Save" />
		</form>
	{% else %}
		Member since {{ explorer.date_joined }}
		<br />
		{% if explorer.brief %}
			{{ explorer.brief }}
			<br />
		{% endif %}
		{% if explorer.birthdate %}
			Birthday: {{ explorer.birthdate }}
		{% endif %}
		{% get_comment_form for explorer as expl_comment_form %}
		<form action="{% comment_form_target %}" method="POST" class="note_form">
			{% csrf_token %}
			{{ expl_comment_form.comment }}
			{{ expl_comment_form.honeypot }}
			{{ expl_comment_form.object_pk }}
			{{ expl_comment_form.content_type }}
		    {{ expl_comment_form.timestamp }}
		    {{ expl_comment_form.security_hash }}
			<br />
			<input type="hidden" name="next" value="{% url 'story' explorer.id %}">
			<input type="submit" value="Submit comment" />
		</form>	
	{% endif %}
{% endblock content %}
