{% extends "explorers/base.html" %}

{% load comments %}

{% block content %}
	<div class="explorer_portrait">
		{% if explorer.gallery.featured_photo %}
		    <a href="{{ explorer.gallery.get_absolute_url }}"><img src="{{ explorer.gallery.featured_photo.get_thumbnail_url }}" title="Explorer Portrait" /></a>
		{% else %}
			{% if owner %}
				<a href="/photologue/gallery/{{ explorer.gallery.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/user-icon.png" title="Upload photo for your story" /></a>
			{% else %}
				<img src="{{ STATIC_URL }}img/icons/user-icon.png" title="No portrait chosen yet" />
			{% endif %}
		{% endif %}
	</div>
	<h2>{{ explorer.get_full_name }}</h2>
	{% if not owner and user.is_authenticated and request.user not in explorer.cheerers %}
		<form action="/explorers/{{ explorer.id }}/cheer/" method="POST">
			{% csrf_token %}
			<input type="hidden" name="explorer" value="{{ explorer.get_full_name }}" />
			<input type="submit" name="cheer" value="Cheer" title="Subscribe to {{ explorer.get_full_name }}" onclick="var a = verify('Subscribe to {{ explorer.get_full_name }}?'); return a;" />
		</form>
	{% endif %}
	{% if owner %}
		<p>
			<a href="{% url 'change_password' %}">Change your password</a>
		</p>
		<form method="POST">
			{% csrf_token %}
			<div class="formatted_input">
				<label>First name<br />{{ form.first_name }}</label>
			</div>
			<div class="formatted_input">
				<label>Last name<br />{{ form.last_name }}</label>
			</div>
			<div class="formatted_input">
				<label>Trailname<br />{{ form.trailname }}</label> <span class="smaller_font">Allows others to find you via <tt>acressity.com/your_trailname</tt></span>
			</div>
			<div class="formatted_input">
				<label>Featured experience<br />{{ form.featured_experience }}</label>
			</div>
			<div class="formatted_input">
				<label>Brief:
				<br />
				{{ form.brief }}
				</label>
			</div>
			<div class="formatted_input">
				<label>Email: {{ form.email }}</label>
			</div>
			<div class="formatted_input">
				Birthdate: {{ form.birthdate }}
			</div>
			<input type="submit" value="Save" />
		</form>
	{% else %}
		Member since {{ explorer.date_joined }}
		<br />
		{% if explorer.brief %}
			{{ explorer.brief }}
			<br />
		{% endif %}
		{% if explorer.birthdate %}
			Birthday: {{ explorer.birthdate }}
		{% endif %}
		{% get_comment_form for explorer as expl_comment_form %}
		<form action="{% comment_form_target %}" method="POST">
			{% csrf_token %}
			{{ expl_comment_form.comment }}
			{{ expl_comment_form.honeypot }}
			{{ expl_comment_form.object_pk }}
			{{ expl_comment_form.content_type }}
		    {{ expl_comment_form.timestamp }}
		    {{ expl_comment_form.security_hash }}
			<br />
			<input type="hidden" name="next" value="{% url 'story' explorer.id %}">
			<input type="submit" value="Submit comment" />
		</form>	
	{% endif %}
{% endblock content %}
