{% extends "base.html" %}

{% block content %}
	<h1>Acressity means <em>the quality or state of being at the peak of existence</em></h1>
	<div class="featured_photo">
		<img src="{{ STATIC_URL }}img/seek_limit.jpg" title="Seek your limit" />
		<br />
		<span class="caption">This site is built to be a tool with which to chart your journey into new experiences</span>
	</div>
	<h2>Give Me the Facts: Usefulness of Website</h2>
	<p>
		The <span class="description" title="Term meaning 'quality or state of being at the peak of existence'">Acressity</span> application can be thought of as a collection of evolving adventure novels&#8212;called journeys, with each journey being uniquely created, written, decorated, and owned by an <span class="description" title="Registered user of the site">explorer</span>. The journeys are encouraged to be filled with as many chapters&#8212;called experiences&#8212;by the explorer as they please.
	</p>
	<p>
		Any amount of pages&#8212;called narratives&#8212;and photos can be created by the explorer to chart the movement along and growth within the experience. Any aspect of the journey can be changed and rewritten by the explorer at any time, and they can choose to make each of their <span class="description" title="Chapters of the adventure book">experiences</span> public or private.
	</p>
	<p>
		Social networking is encouraged by providing explorers the ability of inviting others&#8212;called comrades&#8212;to an experience, thus creating a jointly owned experience. A comrad who has accepted an invitation is granted privileges that include writing narratives and adding photos.
	</p>
	<h2>Getting Ideolistic: Philosophy of Website</h2>
	<p> 
		This application aims to encourage a fulfillment of the yearnings for exploration within everyone. It assumes that simply writing down the experiences that one wishes to pursue and providing a canvas for the expression of the experience provides tremendous potential for the formation of personal drive.
	</p>
	<p>
		It's assumed that most everyone gains tremendously from experiencing new activities, places, foods, environments, ways of thinking, etc. These experiences seem to exist just beyond our comfort zones, and this website aims to facilitate the uncomfortable (but <em>oh so rewarding!</em>) venture into the unknown. There is an emphasis placed on the growth that comes from the experience and the expression of the journey. It encourages <em class="description" title="Yes, you!">you</em> to express the experiences upon which you envision yourself following through in your personal
		{% if request.user.is_authenticated %}
			<a href="{% url 'journey' user.id %}">journey</a>.
		{% else %}
			journey.
		{% endif %}
	</p>
	<h2>In Summation</h2>
	<p>
		Chart your thoughts, status, and progress into new experiences with written narratives and uploaded photos. Use this application as a free-standing online journal for expression of experiences of your own, invite comrades to becoming involved in a shared experience, or read about the journeys of other explorers.
	</p>
	{% if not user.is_authenticated %}
		<form action="{% url 'step_two' %}" method="POST" class="full_width">
			{% csrf_token %}
			<input type="text" name="experience" id="id_experience" value="Start your journey by jotting down your first experience here" onclick="setUp(this);" class="larger" />
			<input type="submit" value="Create Journey" />
			<input type="hidden" name="initial" />
		</form>
	{% endif %}
	{% comment %}
	<p>
		One's life journey can be compared to the symbolic act of ascending a mountain's peak within an expansive range of mountains. During moments of existential reflection, we conjure a peak representing the realization of our yearnings, dreams, hopes, and aspirations. Setting off on the trail of which direction is determined by this peak, we soon find ourselves enveloped in the particular details of the immediate trail.
	</p>
	<p>
		Often, we stray off the path toward more immediate goals. While this meandering adds to the variety of life and provides the potential for the redefinition of which mountain to ultimately ascend, it can also lead to stagnation within the comfortable valleys or the life-robbing entrapment within marshes or swamps. At times like these, it is important to have the ability to reach out of the mires and grab ahold of something substantial to again find oneself upon a fruitful trail. 
	</p>
	<p>
		See for yourself the power that comes from the simple act of bringing into the physical world a thought of experiencing something you've always wanted to do. Be it a simple willingness to try something new, an action that deviates from the norm, the wish to extend your current comfort zone, the yearning to quell a former fear by exposing yourself to the source of the fear, or any number of reasons, this website works to facilitate this inherently human willingness to know the world through exploration and exposing oneself to new experiences.
	</p>
	<p>
		Being presented with the choice	between comfort and risk, it is those who are willing to endeavor, explore,	and be adventurous who truly experience what it means to be alive and therein cross into extraordinary.
	</p>
	{% endcomment %}
	<hr />
	<h3><a href="{% url 'creator_note' %}">Creator's Note</a></h3>
	<h3><a href="{% url 'glossary' %}">Glossary</a></h3>
{% endblock content %}