{% extends "base.html" %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <h2>Contact Acressity</h2>
        <p>
            This application is built to encourage and facilitate the exploration of new experiences.
        </p>
        <div class="formatted_input">
            <h3>Your first name <em>required</em></h3>
            {{ form.first_name.errors }}
            <input type="text" name="first_name" id="id_first_name" value="{% if user.is_authenticated %}{{ user.first_name }}{% endif %}" />
        </div>
        <div class="formatted_input">
            <h3>Your last name <em>required</em></h3>
            {{ form.last_name.errors }}
            <input type="text" name="last_name" id="id_last_name" value="{% if user.is_authenticated %}{{ user.last_name }}{% endif %}" />
        </div>
        <div class="formatted_input">
            <h3>Your email <em>required</em></h3>
            {{ form.email.errors }}
            <input type="text" name="email" id="id_email" value="{% if user.is_authenticated %}{{ user.email }}{% endif %}" />
        </div>
        <div class="formatted_input">
            <h3>Message</h3>
            {{ form.message.errors }}
            {{ form.message }}
        </div>
        <input type="submit" value="Send" />
    </form>
{% endblock content %}