{% extends "base.html" %}

{% block content %}
	<blockquote>
		<p>
			This site was originally launched as an individual project named <a href="http://www.interpopulus.com" title="Visit the ancestral website" target="blank">Interpopulus</a>. Feeling the urge to set out upon broadening my understanding of the world and expand my comfort zone by embracing a variety of diverse life experiences, I composed a short list of experiences.
		</p>
		<p>
			Specifically, Interpopulus began as an experiment to see how publicizing certain aspirations, hopes, and dreams online could facilitate the experience.
		</p>
		<p>
			The experiment yielded powerful positive results, and I made the decision to make the same resources available to others. The intention of this website is to provide for you a personal domain in which you can share and build towards life experiences in your journey. You are now looking at the most up-to-date expression of this ongoing venture.
		</p>
		<p>
			My hope is that you find this web application useful in facilitating your pursuits. I wish you the best with your journey, whether or not you immortalize any of your experiences within these pages.
		</p>
		<span class="author">-<a href="{% url 'journey' 1 %}">Andrew Gaines</a></span2>
	</blockquote>
{% endblock content %}
