{% extends "base.html" %}

{% block content %}
    <h2>Acressity &#8212; Explore New Experiences</h2>
    <hr />
    <p>
        We are all about creating desired experiences and following through on that desire, recording the development and progress here for your safekeeping and sharing with others (should you choose to make them public). You will draw power from the support of others experiencing vicariously through you and from bringing the desire for these experiences out of your mind and into a more tangible place&#8212;the first step towards realization thereof and the accompanying rewards.
    </p>
    <h3>Meet {{ bugsy.get_full_trailname }}</h3>
    <p>
        {{ bugsy.trailname }} is an dummy example explorer profile used in the development of this website. When he is not assisting in the building of this site, he dreams big; rainforests and the North Pole being other draws for him. Below is a picture of his journey page on this site.
    </p>
    <div class="featured_photo">
        <a href="{{ STATIC_URL }}img/example_journey.png">
            <img src="{{ STATIC_URL }}img/example_journey.png" style="width: 75%; cursor: -moz-zoom-in; cursor: -webkit-zoom-in; cursor: zoom-in;">
        </a>
    </div>
    <p>
        Now let's talk about <em>you</em>. Like 
    </p>
    <h3>
        <a href="{% url 'about' %}">About this site</a>
    </h3>
{% endblock content %}