{% extends "base.html" %}

{% block content %}
	<h2>Glossary:</h2>
	<div class="object_item">
		<h3>Acressity:</h3>
		Term built from the Latin work <em>essentia</em>, meaning essence, being, or existence; <em>acr-</em>, the Greek prefix for on top of, at the peak; and the suffix <em>-ity</em>, meaning the state or quality of. An English interpretation being <em>the quality or state of being at the peak of existence</em>.
	</div>
	<div class="object_item">
		<h3>Explorer:</h3>
		The term given to describe each logged user of the website. Each explorer has a unique trailname.
	</div>
	<div class="object_item">
		<h3>Trailname:</h3>
		The nickname given to each explorer of this website, inspired by the tradition common with Appalachian Trail hikers. Explorers are encouraged to create a trailname that describes an aspect of their journey at the moment.
	</div>
	<div class="object_item">
		<h3>Journey:</h3>
		The profile associated with the explorer. It is the main activity center from where the experiences are accessed. Think of this as a book unique to each person with chapters continually being added and edited.
	</div>
	<div class="object_item">
		<h3>Experience:</h3>
		The term signifying a single venture, goal, wish, exploration, (ad infinitum) that an explorer has expressed as being willing of attaining. Think of these as the titles of chapters within a book about your journey.
	</div>
	<div class="object_item">
		<h3>Narrative:</h3>
		Term describing description of an aspect of an experience. Think of these as pages or sections within a chapter; they are the sustenance of the experience. Examples of narratives include an update, thought, plan, itinerary, journal entry, publication, ad infinitum...
	</div>
	<div class="object_item">
		<h3>Request:</h3>
		An invitation sent out by the creator of an experience for another explorer to join. If accepted, allows the newly added explorer to upload photos, edit aspects of the experience, and create new narratives.
	</div>
	<div class="object_item">
		<h3>Story:</h3>
		A personal 'About Me' section for each explorer.
	</div>
	<div class="object_item">
		<h3>Brief:</h3>
		Written description of an experience or explorer. Comparable to an 'about' section, 'introduction', or a 'blurb' before a chapter in a book.
	</div>
	<div class="object_item">
		<h3>Bulletin Board:</h3>
		The message center for each explorer.
		<ul><strong>Includes:</strong>
			<li>Notes regarding experiences and narratives</li>
			<li>Invitations to experiences from other explorers</li>
			<li>Information regarding other explorers cheering for the explorer</li>
		</ul>
	</div>
	<div class="object_item">
		<h3>Cheer:</h3>
		Represents a relationship one explorer has subscribed to regarding another.
	</div>
{% endblock content %}