{% extends "base.html" %}

{% block head_insert %}
    <style type="text/css">
        #content {
            padding: 0px;
            -moz-box-shadow: 0 0 0px 0px #000;
            -webkit-box-shadow: 0 0 0px 0px #000;
            box-shadow: 0 0 0px 0px #000;
            background-color: rgba(0, 0, 0, 0);
        }
    </style>
{% endblock head_insert %}

{% block content %}
    
    <a href="{% url 'about' %}">
        <div id="explore_button">
            <p>Explore</p>
        </div>
    </a>
    
{% endblock content %}
