{% extends "base.html" %}

{% block content %}
    <div class="main_item">
        <div class="jumbotron">
            <h1>Acressity</h1>
            <h2>
                Share your dreams. Overcome obstacles keeping you from having the experiences you want from life.
            </h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'featured_experiences' %}" title="See featured experiences" id="explore_main_wrapper">
                    <div id="explore_main">
                        <p>Explore</p>
                        <p>some experiences</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'what' %}" id="explore_what_wrapper">
                    <div id="explore_what">
                        <p>What</p>
                        <p>is Acressity?</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'why' %}" id="explore_why_wrapper">
                    <div id="explore_why">
                        <p>Why</p>
                        <p>Acressity?</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
