{# Included in base.html file #}
<div id="top_bar">

    <div id="top_bar_left" class="my_nav">
        <span id="logo">
            <img src="{{ STATIC_URL }}img/favicon_black.ico" style="vertical-align: middle;" /><em>Explore New Experiences</em>
        </span></a>
        <ul>
            <li><a href="/">Acressity</a>
                <ul>
                     <a href="{% url 'about' %}"><li>About Site</li></a>
                     <a href="{% url 'contact' %}"><li>Contact</li></a>
                     <a href="{% url 'creator_note' %}"><li>Creator's Note</li></a>
                     <a href="{% url 'glossary' %}"><li>Glossary</li></a>
                </ul>
            </li>
        </ul>

        <ul>
            <li>
                {# Syntax highlighting for following a little screwy, but does the job properly #}
                    {% if user.is_authenticated %}
                        <a href="{% url 'journey' user.id %}">
                    {% else %}
                        <a href="{% url 'all_explorers' %}">
                    {% endif %}Journeys</a>
                <ul>

                    {% if user.is_authenticated %}
                        <a href="{% url 'journey' user.id %}"><li>Your Journey</li></a>

                        {% if user.cheering_for %}
                            {% if user.cheering_for %}
                                {% for explorer in user.top_cheerers %}
                                    <a href="{% url 'journey' explorer.id %}"><li>
                                        {% if explorer.gallery.featured_photo %}
                                            <img style="text-align: center; padding: 5px; float: left;" src="{{ explorer.gallery.featured_photo.get_icon_url }}" title="{{ explorer }}"/>
                                            {{ explorer.get_full_trailname }}
                                            <div style="clear:both;"></div>
                                        {% else %}
                                            {{ explorer.get_full_trailname }}
                                        {% endif %}
                                    </li></a>
                                {% endfor %}
                                {% if user.cheering_for|length > user.top_cheerers|length %}
                                    <a href="{% url 'explorers.views.cheering_for' request.user.id %}"><li>All Cheerers</li></a>
                                {% endif %}
                        {% endif %}
                            
                        {% endif %}
                    {% endif %}

                    <a href="{% url 'all_explorers' %}"><li>All Journeys</li></a>

                    <a href="{% url 'explorers.views.random' %}"><li>Random Journeys</li></a>
                </ul>
            </li>
        </ul>
        <ul>

            <li>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'journey' request.user.id %}">
                {% else %}
                    <a href="{% url 'experiences.views.featured' %}">
                {% endif %}Experiences</a>
                <ul>

                    {% if request.user.is_authenticated %}

                        {% for experience in request.user.top_three %}
                            <a href="{% url 'experiences.views.index' experience.id %}"><li>
                                {% if experience.gallery.featured_photo %}
                                    <img style="text-align: center; padding: 5px; float: left;" src="{{ experience.gallery.featured_photo.get_icon_url }}" title="{{ experience }}"/>
                                {% endif %}
                                {{ experience }}
                                <div style="clear:both;"></div>
                            </li></a>
                        {% endfor %}

                        {% if user.tracking_experiences.count > 0 %}
                            <a href="{% url 'tracking_experiences' user.id %}"><li>Experiences You Track</li></a>
                        {% endif %}
                        
                    {% endif %}

                    <a href="{% url 'experiences.views.featured' %}"><li>Featured Experiences</li></a>

                    <a href="{% url 'all_experiences' %}"><li>All Site Experiences</li></a>

                </ul>
            </li>
        </ul>
    </div>

    <div id="top_bar_right" class="my_nav">
        <div id="login_out">
            {% block login_header %}
                {% if request.user.is_authenticated %}
                    <ul>
                        <a href="{% url 'journey' request.user.id %}"><li>{{ request.user.get_full_name }}</a>
                            <ul>
                                <a href="{% url 'journey' request.user.id %}"><li>
                                    <img src="{{ STATIC_URL }}img/icons/journey-icon.png" /> Your Journey
                                </li></a>
                                <a href="{% url 'explorers.views.board' request.user.id %}"><li>
                                    <img src="{{ STATIC_URL }}img/icons/bulletin-board-icon.png" /> Bulletin Board
                                </li></a>
                                <a href="{% url 'story' request.user.id %}"><li>
                                    <img src="{{ STATIC_URL }}img/icons/profile-icon.png" /> Your Story
                                </li></a>
                                <a href="{% url 'farewell' %}"><li>
                                    <img src="{{ STATIC_URL }}img/icons/logout-icon.png" /> Log Out
                                </li></a>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a onclick="window.location.href='/accounts/login';">Login</a>
                            <ul>
                                <li id="top_bar_login" class="smaller">
                                    <form action="/explorers/login/?next={{ request.path }}" method="POST" class="full_width">
                                        {% csrf_token %}
                                        <div class="formatted_input">
                                            <label for="username">Email/<abbr title="Creative username to describe your journey">Trailname</abbr></label>
                                            <input type="text" class="smaller" name="username" id="username"
                                                   size="10" />
                                        </div>
                                        <div class="formatted_input">
                                            <label for="password">Password</label>
                                            <input type="password" class="smaller" name="password" id="password"
                                                   size="10" />
                                        </div>
                                        <div class="formatted_input">
                                            <input type="submit" value="Log In" />
                                        </div>
                                    </form>
                                    <div class="formatted_input">
                                        <input type="button" value="Sign up" onclick="window.location.href='{% url 'register' %}';" />
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            {% endblock login_header %}
        </div>
    </div>

</div>
