{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ request.user.get_full_name }}</h1>
    <p>
        This application encourages you to follow through on your own adventure. With each experience you create being comparable to the chapter titles of a favorite book, you're encouraged to fill them with as many narratives, photos, and invite as many fellow explorers to each experience as you please.
    </p>
    <p>
        On the right is your personal Dash. It displays the picture you choose to be recognized by, and gives you easy access to your featured experience&#8212;currently <strong>{{ request.user.featured_experience }}</strong>.
    </p>
    <p>
        Estimated Time of Departure is now! Get started with the following options:
    </p>
    <div class="option_list">
        <a href="{% url 'narratives.views.create' request.user.featured_experience.id %}"><img src="{{ STATIC_URL }}img/icons/new-narrative-icon.png" title="Creating your first narrative for '{{ request.user.featured_experience }}'" class="option_icon" /></a>
        <a href="{% url 'experiences.views.edit' request.user.featured_experience.id %}"><img src="{{ STATIC_URL }}img/icons/edit-icon.png" title="Edit or write about '{{ request.user.featured_experience }}'" class="option_icon" /></a>
        <a href="/photologue/gallery/{{ request.user.gallery.id }}/upload_photo/"><img src="{{ STATIC_URL }}img/icons/image-upload-icon.png" title="Upload a photo as your portrait" class="option_icon" /></a>
    </div>
    Or go straight to your <a href="{% url 'journey' request.user.id %}">journey page</a>
{% endblock content %}