{% extends 'base.html' %}

{% block content %}
    <h2><em>What</em> is Acressity?</h2>

    <p>
        Acressity is a platform for publishing a list of experiences you yearn to have during your life. It gives you a profile where you can create and publish experiences you desire to achieve. Each experience can be thought of as a chapter in your life story, where you can write narratives, upload photos, and receive monetary donations by benefactors believing in you in order to assist your pursuits.
    </p>
    <p>f
        The site encourages an incremental approach to achievement as this is the nature of any worthy pursuit. It encourages you to log as much of your progress as possible, even if that means no progress was achieved for quite some time. The first step is composing the list of desires, or transforming the idea into a more tangible written form. Once the idea matures, this app encourages you to publicize them in order that others may empower you through their assistance. Accountability, encouragement, advice, and financial assistance are all possible means through which a dream of yours can be transformed into the experience.
    </p>
    <p>
        The social nature of this app gives you the ability of networking with others. Draw power from what others are doing with their own experiences. Interact with someone interested in a similar experience. Create a joint experience so that you and any other simultaneously aspiring to achieve can draw power from one another.
    </p>
    <p>
        To learn more about <em>why</em> this app exists, read more <a href="{% url 'why' %}">here</a>. If you're ready to create your first experience, do so below.
    </p>
    <p>
        See an example profile <a href="{% url 'example' %}">here</a>
    </p>
    {% include 'experiences/forms/first_experience_form.html' %}
{% endblock content %}