{% extends 'base.html' %}

{% block content %}
    <h2><em>What</em> is Acressity?</h2>

    <p>
        Acressity is a platform for publishing a list of experiences you yearn to have during your life; experiences which bring you outside your comfort zone to grow and life life more fully. It is reminiscent of a bucketlist in this way, but with the emphasis being more on the journey than the destination as this is more conducive to success. It gives you a profile where you can create and publish these experiences you desire to achieve. Each experience can then be thought of as a chapter in your life story, where you can write narratives, upload photos, and receive monetary donations from benefactors believing in and assisting you along your journey.
    </p>
    <p>
        The site encourages an incremental approach to achievement as this is the nature of any worthy pursuit. You are encouraged to keep the experiences private until ready to pursue at which point you are encouraged to log as much of your progress as possible, even if that means no progress was achieved for quite some time or even if there were setbacks. The first step is composing the list of desired experiences, or transforming the idea into a more tangible written form. Once the idea matures, this app encourages you to publicize them so others may empower you through their assistance. Accountability, encouragement, advice, and financial assistance are all possible means through which a dream of yours can be transformed into the experience.
    </p>
    <p>
        The social nature of this app gives you the ability of networking with others. Draw power from what others are doing with their own experiences. Interact with someone interested in a similar experience or create a joint experience so that you and any other simultaneously aspiring to achieve can draw power from one another.
    </p>
    <p>
        To learn more about <em>why</em> this app exists, read more <a href="{% url 'why' %}">here</a>. See an example profile <a href="{% url 'example' %}">here</a>. If you're ready to create your first experience, do so below.
    </p>
    {% include 'experiences/forms/first_experience_form.html' %}
{% endblock content %}
