{% extends 'base.html' %}

{% block content %}
    <h2><em>Why</em> was Acressity built?</h2>

    <p>
        Acressity exists to assist in achieving the experiences you truly desire and for which you yearn. It encourages transcending your comfort zone in favor of experiencing the essence of being at the peak of existence.
    </p>
    <p>
        In 2010, the creator of this site, <a href="{% url 'journey' 1 %}" target="_blank">Andrew</a>, had dropped out of college, recently been dumped by a girlfriend, was suffering from crippling social anxiety, and given up aspirations of becoming a pilot professionally after spending 2 years flying after losing an academic scholarship. Lost, angry, confused, and feeling stagnant, the world appeared to be closing in and dreams being surrendered. In a frenzy, a rage against the dying of his inner life, Andrew wrote down a list of experiences he wished to have so as not to lose sight of the light and joy accompanying adventure, exploration, and growth from new experiences.
    </p>
    <p>
        Something powerful was elucidated in the act of creating this list. Although the aspirations were still just in written form, they took on new life as they were birthed from the realm of the mind's pure potential. They became something real, something identified and embodied. One of the desired experiences was to ride his bicycle across America. Another was to learn to write computer code. These two were seen to be interconnected, as Andrew felt coding a website in order to make his desire to bike across America public would assist in empowering him even more than elucidating the desire privately.
    </p>
    <p>
        As the website developed, so did plans to bike across America. The idea matured enough for Andrew to make the desire known publicly despite the fear of divulging a very dear and sensitive goal. Yet what happened next was extremely empowering. Others now privy to the desired bike trek goal visited the new website and became involved in assisting the pursuit. Visitors helped Andrew name his bike (Odysseus), pick out music, and supported him through general encouragement. Some even made financial contributions which allowed him to complete the trek without having to stop and work along the way.
    </p>
    <p>
        Andrew began biking from San Francisco eastward in the summer of 2010. Along the way, he composed daily narratives and uploaded photos of his experience so those tracking the trek could experience it vicariously and check in on his status. It also provided time for reflection upon the experience and a means of preserving the daily happenings. The online supporters continued providing added value to the trip while Andrew began noticing something else worthy of being shared with others looking to achieve their aspired experiences. As the miles accumulated, onlookers became increasingly incredulous and amazed. More and more people stating "I could never do anything like that". Yet Andrew saw the journey as the accumulation of many very small simple steps. Eventually reaching Boston after about 2 months, this inaugurating experience came to a close as the desire for the next immediately charged through.
    </p>
    <p>
        He felt a desire to help others see that anything worthy of experiencing was necessarily done so in small incremental steps. Yet there seemed no good platform for the development of desired experiences from idea to fruition. The problem was that too few people are provided with the ability to elucidate their desired experiences. It must necessarily be provided a venue where fresh and sensitive ideas can mature in due time. Additionally, the power and motivation from publicizing these aspired experiences when adequately matured is hard to come by. Andrew had experienced the power of his website and wished to share this platform for development, publicizing, and benefaction with others. Soon after returning home from the trek, he began transforming his website into a social platform where anyone would be able to draw from the same power which had provided the impetus for his journey across the country and beyond.
    </p>
    <p>
        Welcome to this website, developed for <em>you</em>. Begin your journey by doing the same which initially activated Andrew&#8212;write them down. This website is designed to be the best venue possible for the development of these aspirations from idea to experience. You are encouraged to keep these experiences private if they are not developed enough for public viewing, as premature exposure can have a harmful effect upon sensitive material. See what power comes for you when you compose this list of your deepest and most intimately desired aspirations for your life. Begin here, and watch what comes as these fresh aspirations mature into having a life of their own.
    </p>
    <p>
        To learn more about exactly <em>what</em> this web app is, read more <a href="{% url 'what' %}">here</a>. Otherwise, begin with your first experience one below.
    </p>
    <p>
        See an example profile <a href="{% url 'example' %}">here</a>
    </p>
    {% include 'experiences/forms/first_experience_form.html' %}
{% endblock content %}