<!DOCTYPE html>
<!--
Welcome to the HTML source code for the acressity project. The Django Web Framework was used for this project,
and I hold the development team and support community in high regard. Feel free to take a look at the code at
https://github.com/acressity/acressity, use any of it you'd like, and send me a little feedback if you notice
anything lacking in efficiency or if you have any suggestions.
	Thanks,
	Andrew Gaines
-->
{% load acressity_extras %}
{% load support_extras %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	{% if user.is_authenticated %}
		{% load notifications_tags %}
	{% endif %}
	<head profile="http://www.w3.org/2005/10/profile">
		<title>Acressity {% block title %}{% endblock title %}{% if user.is_authenticated %}{% notifications_unread as unread_count %}{% if unread_count %}({{ unread_count }}){% endif %}{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="og:description" content="{% block meta_description %}This social application is designed to be a tool with which to chart your journey into new experiences{% endblock %}" />
		<meta name="og:title" content="Acressity" />
		<meta name="og:image" content="{{ STATIC_URL }}img/logo.png" />
		<meta name="keywords" content="{% block meta_keywords %}new experience, experiences, trials, tribulations, missions{% endblock %}" />
		<meta name="author" content="Andrew Gaines" />
		<meta name="google-site-verification" content="3iDs3Jcximcq98UiGgWraWkgspn2xYTbkHiZcC0Asrc" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled/style.css" />
        
        <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}img/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}img/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}img/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}img/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}img/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}img/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}img/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}img/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}img/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ STATIC_URL }}img/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ STATIC_URL }}img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ STATIC_URL }}img/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ STATIC_URL }}img/favicons/favicon-16x16.png">
        <link rel="manifest" href="{{ STATIC_URL }}img/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ STATIC_URL }}img/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {# <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css' /> #}
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" />
		{% include 'scripts/google_analytics.html' %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
		{% block head_insert %}{% endblock head_insert %}
	</head>
	<body>
        <div id="wrapper">
            {% include "acressity/navbar.html" %}
            <div class="container">
                <div class="row">
                    {% block main %}
                        <div class="col-md-9 col-lg-9">
                            <div id="content">
                                {% block content %}{% endblock content %}
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <div id="right_content">
                                {% block right_content %}
                                    {% if user.is_authenticated %}
                                        {% with user as explorer %}
                                            {% include "explorers/snippets/dash.html" %}
                                        {% endwith %}
                                    {% else %}
                                        <div class="main_item align_center">
                                            <h1>Acressity</h1>
                                        </div>
                                        <div class="narrative_item">
                                            {% random_quote as quote %}
                                            <blockquote>
                                                <div class="body">
                                                    "{{ quote.body }}"
                                                </div>
                                                <div class="author">
                                                    {{ quote.author }}
                                                </div>
                                            </blockquote>
                                        </div>
                                        {% if not request.session.signing_up %}
                                            {% include 'experiences/forms/first_experience_form.html' %}
                                        {% else %}
                                            {% url 'step_two' as step_two %}
                                            {% url 'register' as register %}
                                            {% ifnotequal request.path step_two %}
                                                {% ifnotequal request.path register %}
                                                    <form method="POST" action="{% url 'register' %}" class="experience_item">
                                                        {% csrf_token %}
                                                        <div class="formatted_input align_center">
                                                            <input type="submit" value="Resume signup" />
                                                        </div>
                                                    </form>
                                                {% endifnotequal %}
                                            {% endifnotequal %}
                                        {% endif %}
                                    {% endif %}
                                {% endblock right_content %}
                            </div>
                        </div>
                    {% endblock main %}
                </div>
            </div>
        </div>
	</body>
</html>
