<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Welcome to the HTML source code for the acressity project. The Django Web Framework was used for this project, 
and I hold the development team and support community in high regard. Feel free to take a look at the code at 
https://github.com/interpopulus/acressity, use any of it you'd like, and send me a little feedback if you notice 
anything lacking in efficiency or if you have any suggestions.
	Thanks,
	Andrew Gaines 
-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	{% if user.is_authenticated %}
		{% load notifications_tags %}
	{% endif %}
	<head profile="http://www.w3.org/2005/10/profile">
		<title>Acressity {% block title %}{% endblock %} {% if user.is_authenticated %}{% notifications_unread as unread_count %}{% if unread_count %}({{ unread_count }}){% endif %}{% endif %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="description" content="{% block meta_description %}This social application is designed to be a tool with which to chart your journey into new experiences{% endblock %}" />
		<meta name="keywords" content="{% block meta_keywords %}new experience, experiences, trials, tribulations, missions{% endblock %}" />
		<meta name="author" content="Andrew Gaines" />
		<meta name="google-site-verification" content="3iDs3Jcximcq98UiGgWraWkgspn2xYTbkHiZcC0Asrc" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/compiled/style.css" />
		<link rel="icon" type="image/ico" href="{{ STATIC_URL }}img/favicon.ico" />
		{# <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css' /> #}
		{# <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin" /> #}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.3.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/functions.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/dropdownPlain.js"></script>
		{% block head_insert %}{% endblock head_insert %}
	</head>
	<body>
		<div id="wrapper">
			{% if messages %}
				<div id="messages">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
					<div id="messages_note">
						<em>Click to remove</em>
					</div>
				</div>
			{% endif %}

			<div id="top_bar">

				<div id="top_bar_left" class="my_nav">
					<span id="logo">
						<img src="{{ STATIC_URL }}img/favicon_black.ico" style="vertical-align: middle;" /><em>Explore New Experiences</em>
					</span></a>
					<ul>
			        	<li><a href="/">Acressity</a>
			        		<ul>
			        			 <a href="{% url 'about' %}"><li>About Site</li></a>
			        			 <a href="{% url 'contact' %}"><li>Contact</li></a>
			        			 <a href="{% url 'creator_note' %}"><li>Creator's Note</li></a>
			        			 <a href="{% url 'glossary' %}"><li>Glossary</li></a>
			        		</ul>
			        	</li>
			        </ul>

			        <ul>
			        	<li>
			        		{# Syntax highlighting for following a little screwy, but does the job properly #}
				        		{% if user.is_authenticated %}
				        			<a href="{% url 'journey' user.id %}">
				        		{% else %}
				        			<a href="{% url 'featured_experiences' %}">
				        		{% endif %}Journeys</a>
			        		<ul>

			        			{% if user.is_authenticated %}
				        			<a href="{% url 'journey' user.id %}"><li>Your Journey</li></a>

				        			{% if user.cheering_for %}
				        				{% if user.cheering_for %}
					        				{% for explorer in user.top_cheerers %}
					        					<a href="{% url 'journey' explorer.id %}"><li>
					        						{% if explorer.gallery.featured_photo %}
					        							<img style="text-align: center; padding: 5px; float: left;" src="{{ explorer.gallery.featured_photo.get_icon_url }}" title="{{ explorer }}"/>
														{{ explorer.get_full_trailname }}
					        							<div style="clear:both;"></div>
					        						{% else %}
					        							{{ explorer.get_full_trailname }}
					        						{% endif %}
					        					</li></a>
					        				{% endfor %}
					        				{% if user.cheering_for|length > user.top_cheerers|length %}
					        					<a href="{% url 'explorers.views.cheering_for' request.user.id %}"><li>All Cheerers</li></a>
				        					{% endif %}
				        			{% endif %}
				        				
				        			{% endif %}
				        		{% endif %}

			        			<a href="{% url 'all_explorers' %}"><li>All Journeys</li></a>

			        			<a href="{% url 'explorers.views.random' %}"><li>Random Journeys</li></a>
			        		</ul>
			        	</li>
			        </ul>
			        <ul>

			        	<li>
			        		{% if request.user.is_authenticated %}
			        			<a href="{% url 'journey' request.user.id %}">
			        		{% else %}
			        			<a href="{% url 'experiences.views.featured' %}">
			        		{% endif %}Experiences</a>
			        		<ul>

								{% if request.user.is_authenticated %}

									{% for experience in request.user.top_five %}
				        				<a href="{% url 'experiences.views.index' experience.id %}"><li>
				        					{% if experience.gallery.featured_photo %}
				        						<img style="text-align: center; padding: 5px; float: left;" src="{{ experience.gallery.featured_photo.get_icon_url }}" title="{{ experience }}"/>
				        					{% endif %}
				        					{{ experience }}
				        					<div style="clear:both;"></div>
				        				</li></a>
				        			{% endfor %}

				        			{% if user.tracking_experiences.count > 0 %}
				        				<a href="{% url 'tracking_experiences' user.id %}"><li>Your Tracking Experiences</li></a>
				        			{% endif %}
				        			
								{% endif %}

								<a href="{% url 'experiences.views.featured' %}"><li>Featured Experiences</li></a>

								<a href="{% url 'all_experiences' %}"><li>All Site Experiences</li></a>

			        		</ul>
			        	</li>
				    </ul>
				</div>

				<div id="top_bar_right" class="my_nav">
			        <div id="login_out">
						{% block login_header %}
							{% if request.user.is_authenticated %}
								<ul>
									<a href="{% url 'journey' request.user.id %}"><li>{{ request.user.get_full_name }}</a>
										<ul>
											<a href="{% url 'journey' request.user.id %}"><li>
												<img src="{{ STATIC_URL }}img/icons/journey-icon.png" /> Your Journey
											</li></a>
											<a href="{% url 'explorers.views.board' request.user.id %}"><li>
												<img src="{{ STATIC_URL }}img/icons/bulletin-board-icon.png" /> Bulletin Board
											</li></a>
											<a href="{% url 'story' request.user.id %}"><li>
								        		<img src="{{ STATIC_URL }}img/icons/profile-icon.png" /> Your Story
								        	</li></a>
						        			<a href="{% url 'farewell' %}"><li>
						        				<img src="{{ STATIC_URL }}img/icons/logout-icon.png" /> Log Out
						        			</li></a>
				        				</ul>
									</li>
								</ul>
							{% else %}
								<ul>
									<li><a onclick="window.location.href='/accounts/login';">Login</a>
										<ul>
											<li id="top_bar_login">
												<form action="/explorers/login/?next={{ request.path }}" method="POST" class="no_styling full_width">
													{% csrf_token %}
													<div class="">
														Email or <abbr title="Creative username to describe your journey">Trailname</abbr>:
														<input type="text" name="username" id="username" size="10" />
													</div>
													<div class="">
														Password:
														<input type="password" name="password" id="password" size="10" />
													</div>
													<div class="">
														<input type="submit" class="expand-button" value="Log In" />
													</div>
												</form>
											</li>
											{% comment %}
											{# Taken out in favor of having the signup bar on the right #}
											<li>
												<form id="top_bar_signup" action="{% url 'register' %}" class="no_styling">
													{% csrf_token %}
													<div class="float_right">
														<input type="submit" class="expand-button" value="Sign up" />
													</div>
												</form>
											</li>
											{% endcomment %}
										</ul>
									</li>
								</ul>
							{% endif %}
						{% endblock login_header %}
					</div>
				</div>

		    </div>
			<div id="main">
				{% block main %}
					<div id="content">
						{% block content %}{% endblock content %}
					</div>
					<div id="right_content">
						{% block right_content %}
							{% if user.is_authenticated %}
								{% with user as explorer %}
								    {% include "explorers/snippets/dash.html" %}
								{% endwith %}
							{% else %}
								<div style="background-color: #D3CDD8; margin: 10px 0px;">
									{% if not request.session.signing_up %}
										<blockquote id="welcome_quote">
											<h2>Acressity</h2>
											<h3>
												An application for the exploration and
												expression of new experiences within your journey
											</h3>
											<a href="{% url 'about' %}">learn more</a>
										</blockquote>
										<form action="{% url 'step_two' %}" method="POST" class="full_width main_color" onsubmit="return validateFirstExperience(this);">
											{% csrf_token %}
											<input type="hidden" name="initial" />
											<h3>What do you want to experience?</h3>
											<div class="formatted_input">
												<input type="text" id="id_experience" name="experience" class="larger" onfocus="setUp(this);" />
											</div>
											<input type="submit" class="expand-button" value="Create experience" />
										</form>
										<form action="{% url 'register' %}">
											<input type="submit" class="expand-button" value="Sign up" />
										</form>
									{% comment %}
									<div>
										<h4 onclick="toggle_div('featured_experiences');">Some featured experiences <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="featured_experiences_toggle_icon" /></h4>
										<div id="featured_experiences" style="display: none;">
											{% for explorer, experience in explorer_experience %}
												<div class="object_item experience_item">
													{% if experience.gallery.featured_photo %}
														<div class="featured_photo left">
															<img src="{{ experience.gallery.featured_photo.get_icon_url }}" alt="Featured photo" title="{{ experience.gallery.featured_photo.title }}"/>
														</div>
													{% endif %}
													<a href="/experiences/{{ experience.id }}"><h3>{{ experience }}</h3></a> by {{ explorer.get_full_name }}
												</div>
											{% endfor %}
										</div>
									</div>
									{% endcomment %}
									{% else %}
										<blockquote>
											<p>
												Build of your imaginings a bower in the wilderness ere you build a house within the city walls.
											</p>
											<p>
												For even as you have home-comings in your twilight, so has the wanderer in you, the ever distant and alone.
											</p>
											<p>
												Verily the lust for comfort murders the passion of the soul, and then walks grinning in the funeral.
											</p>
											<p>
												Forget not that the earth delights to feel your bare feet and the winds long to play with your hair.
											</p>
											<p>
												But you, children of space, you restless in rest, you shall not be trapped nor tamed.
											</p>
											<span class="author">-Khalil Gibran</span>
										</blockquote>
									</div>
								{% endif %}
							{% endif %}
						{% endblock right_content %}
						<div>
							<h4 onclick="toggle_div('comment_to_creator_form');">Comments for website creator <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="comment_to_creator_form_toggle_icon" /></h4>
							<div id="comment_to_creator_form" style="display: none;" class="smaller_font object_item">
								<p>
									This information will be sent directly to the creator of this site, and will be used to improve the website experience.
								</p>
								<p>
									Include any suggestions, notices, errors, or just a feature you'd like to see!
								</p>
								<p>
									<em>Thank you,</em>
									<br />
									<a href="{% url 'journey' 1 %}">Andrew Gaines</a>
								</p>
								<form method="POST" action="{% url 'comment_to_creator' %}">
									{% csrf_token %}
									<div class="formatted_input">
										<textarea name="comment_to_creator"></textarea>
									</div>
									{# Following is a honeypot. If filled (most likely by a bot) have appropriate response #}
									<input type="text" name="poohbear" style="display: none;" />
									<input type="submit" value="Submit" />
								</form>
							</div>
						</div>
					</div>
				{% endblock main %}
			</div>
		</div> <!--end of wrapper div-->
		<!--
		<div id="footer">
			
		</div>
		-->
	</body>
</html>
