<div class="experience_dash">
    <div class="row">
        <div{% if not stacked %} class="col-md-7"{% endif %}>
            <a href="{% url 'experience' experience.id %}" title="View {{ experience }}">
                <div class="experience_item">
                    {% if experience.gallery.featured_photo %}
                        <div class="position_relative">
                            <div class="featured_photo">
                                <img src="{{ experience.gallery.featured_photo.get_thumbnail_url }}" title="Featured photo - {{ experience.gallery.featured_photo.title }}" />
                            </div>
                        </div>
                    {% endif %}
                    <h3 class="align_center">
                        {{ experience }}
                        {% if experience.is_fulfilled %}
                            <img src="{{ STATIC_URL }}img/icons/award.png"
                                class="option_icon valign_middle"
                                title="This experience has been fulfilled!"
                                alt="Award for fulfilling this experience" />
                        {% endif %}
                        {% if not experience.is_public %}
                            <img src="{{ STATIC_URL }}img/icons/lock.png"
                                class="option_icon valign_middle"
                                title="This experience is private" />
                        {% endif %}
                    </h3>
                </div>
            </a>
        </div>
        <div{% if not stacked %} class="col-md-5"{% endif %}>
            <ul class="option_list experience_item">
                {% if user.is_authenticated %}
                    {% if user in experience.explorers.all %}
                        <a href="{% url 'create_narrative' experience.pk %}">
                            <li class="option">
                                <img src="{{ STATIC_URL }}img/icons/add.png" title="Create a new narrative" /> Create new narrative
                            </li>
                        </a>
                        <a href="{% url 'experiences.views.edit' experience.id %}">
                            <li class="option">
                                <img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit this experience" />
                                Edit experience
                            </li>
                        </a>
                        <a href="{% url 'experiences.views.upload_photo' experience.id %}">
                            <li class="option">
                                <img src="{{ STATIC_URL }}img/icons/camera.png" title="Upload a photo" />
                                Upload photos
                            </li>
                        </a>
                        {% if user == experience.author %}
                            <a href="{% url 'experience_invite' experience.id %}">
                                <li class="option">
                                    <img src="{{ STATIC_URL }}img/icons/add-user.png" title="Invite a comrade to be a part of this experience" />
                                    Invite someone
                                </li>
                            </a>
                            <a href="{% url 'experiences.views.delete' experience.id %}">
                                <li class="option">
                                    <img src="{{ STATIC_URL }}img/icons/delete.png" title="Delete experience" />
                                    Delete experience
                                </li>
                            </a>
                        {% else %}
                            {% if experience.accepts_paypal %}
                                <a href="{% url 'donate' experience.id %}">
                                    <li class="option">
                                        <img src="{{ STATIC_URL }}img/icons/money.png" title="Donate - Become a
                                        benefactor" />
                                        Donate to this experience
                                    </li>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if experience.has_campaign %}
                    <a href="{% url 'campaign' experience.campaign.pk %}">
                        <li class="option">
                            <img src="{{ STATIC_URL }}img/icons/crowdfunding.png" title="View benefaction campaign" />
                            Benefaction campaign
                        </li>
                    </a>
                {% else %}
                    {% if user == experience.author %}
                        <a href="{% url 'campaign.create' experience.pk %}">
                            <li class="option">
                                <img src="{{ STATIC_URL }}img/icons/crowdfunding.png" title="Create benefaction campaign" />
                                Create benefaction campaign
                            </li>
                        </a>
                    {% endif %}
                {% endif %}
                {% if experience.gallery %}
                    <a href="{% url 'pl-gallery' experience.gallery.id %}">
                        <li class="option">
                            <img src="{{ STATIC_URL }}img/icons/images.png" title="View gallery" />
                            View photos
                        </li>
                    </a>
                {% endif %}
                {% if user.is_authenticated %}
                    {% if experience not in user.experiences.all %}
                        {% if experience not in user.tracking_experiences.all %}
                            <a href="{% url 'track_experience' experience.id %}">
                                <li class="option">
                                    <img src="{{ STATIC_URL }}img/icons/track.png" title="Track this experience" />
                                    Track this experience
                                </li>
                            </a>
                        {% else %}
                            <a href="{% url 'untrack_experience' experience.id %}">
                                <li class="option">
                                    <img src="{{ STATIC_URL }}img/icons/untrack.png" title="Track this experience" />
                                    Untrack this experience
                                </li>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>

	{% if request.user in experience.explorers.all %}
		{% if experience.narratives.count %}
			{% with narrative=experience.latest_narrative %}
				<div class="narrative_item">
					<div onclick="toggle_div(this.nextElementSibling);">
						Latest Narrative <img src="{{ STATIC_URL }}img/icons/expand-icon.png" class="valign_middle" />
					</div>
					<div class="toggle_div">
						{% include "narratives/snippets/dash.html" %}
					</div>
				</div>
			{% endwith %}
		{% endif %}
	{% else %}
		{% if experience.public_narratives.count %}
			{% with narrative=experience.latest_public_narrative %}
				<div class="narrative_item">
					<div onclick="toggle_div(this.nextElementSibling);">
						Latest Narrative <img src="{{ STATIC_URL }}img/icons/expand-icon.png" class="valign_middle" />
					</div>
					<div class="toggle_div">
						{% include "narratives/snippets/dash.html" %}
					</div>
				</div>
			{% endwith %}
		{% endif %}
    {% endif %}
	 
</div>
