{# requires experience and user objects #}

<div class="position_relative">
	<div class="featured_photo">
		{% if experience.gallery.featured_photo %}
			<a href="{% url 'pl-gallery' experience.gallery.id %}">
				<img src="{{ experience.gallery.featured_photo.get_display_url }}" />
			</a>
			{% if experience.gallery.featured_photo.caption %}
				<div class="caption">
					{{ experience.gallery.featured_photo.caption }}
				</div>
			{% endif %}
		{% else %}
			{% if user in experience.explorers.all %}
				<a href="{% url 'exp_upload_photo' experience.id %}" title="Upload photo for this experience">
					<img src="{{ STATIC_URL }}img/logo.png" style="width: 200px;" />
				</a>
			{% else %}
				<img src="{{ STATIC_URL }}img/logo.png" style="width: 200px;" />
			{% endif %}
		{% endif %}
	</div>
</div>
