{% load comments %}

{% comment %}
    HTML for the narrative items currently being used in several templates.
    Assumes that the object is passed in as context `narrative`
{% endcomment %}

<div class="narrative_dash">
    <a href="{% url 'narrative' narrative.id %}" title="View this narrative">
        <div>
            <h3>{{ narrative.title }}</h3>
            {% if narrative.gallery.featured_photo %}
                <div class="featured_photo">
                    <img src="{{ narrative.gallery.featured_photo.get_thumbnail_url }}" />
                </div>
            {% endif %}
        </div>
    </a>
    <div class="narrative_item">
        <div id="narrative_{{ narrative.id }}_taste">
            {{ narrative.taste|linebreaks }}
        </div>
        <div id="narrative_{{ narrative.id }}_narrative" class="toggle_div">
            {{ narrative.narrative|linebreaks }}
        </div>
        {% if narrative.needs_shortening %}
        <a href="{% url 'narrative' narrative.id %}"><h4>Rest of narrative <img src="{{ STATIC_URL }}img/icons/next-icon.png" class="valign_middle" /></h4></a>
        {% endif %}
    </div>
    {% if narrative.category %}
        <strong>Narrative category</strong>
        <p>{{ narrative.category }}</p>
    {% endif %}
    <p>{{ narrative.date_created|timesince }} ago</p>
    <p>
        By <a href="{% url 'journey' narrative.author.id %}">{{ narrative.author.get_full_name }}</a>
    </p>
    {% if user.is_authenticated %}
        {% ifequal narrative.author request.user %}
            <div class="option_list">
                <a href="{% url 'narratives.views.edit' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit this narrative" class="option_icon" /></a>
                <a href="{% url 'narratives.views.delete' narrative.id %}"><img src="{{ STATIC_URL }}img/icons/delete.png" title="Delete this narrative" class="option_icon" /></a>
            </div>
        {% endifequal %}
        {% get_comment_form for narrative as comment_form %}
        <div id="something" class="comment toggle_div">
            {% with next_url_name='narrative' next_url_pk=narrative.id %}
                {% include "support/snippets/note_form.html" %}
            {% endwith %}
        </div>
    {% endif %}
</div>
