{# Expects `url` and `form` to be passed in by including file #}

<form action="{{ url }}" method="POST">
    {% csrf_token %}
    {% if form.errors %}
        <div class="error">
            Please correct {{ form.errors|length }} error{{ form.errors|length|pluralize }} below
        </div>
    {% endif %}
    <div class="formatted_input">
        <h3>Featured photo</h3>
        <div class="featured_photo">
            {% if experience.gallery.featured_photo %}
                <img src="{{ experience.gallery.featured_photo.get_thumbnail_url }}" />
            {% else %}
                <img src="{{ STATIC_URL }}img/logo.png" style="width: 200px" title="Placeholder until you upload an image to feature" />
            {% endif %}
        </div>
        <div class="option_list">
            {% if experience %}
                <a href="{% url 'exp_upload_photo' experience.id %}">
                    <img src="{{ STATIC_URL }}img/icons/camera.png" class="option_icon" title="Upload new photo to be featured for this experience" />
                </a>
            {% endif %}
            {% if experience.gallery %}
                <a href="{% url 'pl-gallery-edit' experience.gallery.id %}">
                    <img src="{{ STATIC_URL }}img/icons/pencil.png" class="option_icon" title="Choose another uploaded photo to be featured for this experience" />
                </a>
            {% endif %}
        </div>
    </div>
    <div class="formatted_input">
        <h3>{{ form.experience.label_tag }}</h3>
        {{ form.experience.errors }}
        {{ form.experience }}
    </div>
    <div class="formatted_input">
        <h3>{{ form.percent_fulfilled.label_tag }}: <span id="percent_fulfilled_display">{{ form.percent_fulfilled.value }}</span>%</h3>
        {{ form.percent_fulfilled.errors }}
        {{ form.percent_fulfilled }}
    </div>
    <div class="formatted_input">
        {% if experience.author == user or not experience %}
            <h3>{{ form.is_public.label_tag }} {{ form.is_public }}</h3>
            <script type="text/javascript">
                e = document.getElementById("id_is_public");
                d = document.getElementById("password_div");
                e.onclick = function(){
                    toggle_div("password_div");
                };
            </script>
        {% else %}
            <p>Only {{ experience.author }} can change privacy settings</p>
        {% endif %}
        <div class="about_this">
            <p onclick="toggle_div('about_public_experiences');" class="smaller">
                About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_public_experiences_toggle_icon" class="valign_middle" />
            </p>
            <div id="about_public_experiences" class="toggle_div help-text">
                {{ form.is_public.help_text}}
            </div>
        </div>
    </div>
    <div class="formatted_input">
        <h3>{{ form.status.label_tag }}</h3>
        {{ form.status.errors }}
        {{ form.status }}
        <div class="about_this">
            <p onclick="toggle_div('status_help_text');">
                About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="status_help_text_toggle_icon" class="valign_middle" />
            </p>
            <div class="toggle_div help-text" id="status_help_text">
                {{ form.status.help_text }}
            </div>
        </div>
    </div>
    <div class="formatted_input">
        <h3>{{ form.brief.label_tag }}</h3>
        {{ form.brief.errors }}
        {{ form.brief }}
        <div class="about_this">
            <p onclick="toggle_div('brief_help_text');">
                About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="brief_help_text_toggle_icon" class="valign_middle" />
            </p>
            <div class="toggle_div help-text" id="brief_help_text">
                {{ form.brief.help_text }}
            </div>
        </div>
    </div>
    <div onclick="toggle_div('additional_options')"><h3>More Options <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="additional_options_toggle_icon" class="valign_middle" /></h3></div>
    <div id="additional_options" class="toggle_div">
        <div class="formatted_input">
            <h3><label for='{{ form.date_created.id_for_label }}'>Date created (blank for today)</label></h3>
            {{ form.date_created.errors }}
            {{ form.date_created }}
            <div class="about_this">
                <p onclick="toggle_div('date_created_help_text');">
                    About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="date_created_help_text_toggle_icon" class="valign_middle" />
                </p>
                <div class="toggle_div help-text" id="date_created_help_text">
                    {{ form.date_created.help_text }}
                </div>
            </div>
        </div>
        <div class="formatted_input">
            <h3>Intended completion date</h3>
            {{ form.intended_completion_date.errors }}
            {{ form.intended_completion_date }}
            <div class="about_this">
                <p onclick="toggle_div('intended_completion_date_help_text');">
                    About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="intended_completion_date_help_text_toggle_icon" class="valign_middle" />
                </p>
                <div class="toggle_div help-text" id="intended_completion_date_help_text">
                    {{ form.intended_completion_date.help_text }}
                </div>
            </div>
        </div>
        <div class="formatted_input">
            {% if user.featured_experience %}
                {% ifnotequal experience user.featured_experience %}
                    <h3>Your featured experience is currently</h3>
                    {% with user.featured_experience as experience %}
                        {% include 'experiences/snippets/dash.html' %}
                    {% endwith %}
                    <label for="id_make_feature">    
                        <h3>Make {% if experience %}{{ experience }}{% else %}this new experience{% endif %} your featured experience instead? {{ form.make_feature }}</h3>
                    </label>
                {% else %}
                    <label for="id_unfeature">
                        <h3>This is your featured experience. Unfeature it? {{ form.unfeature }}</h3>
                    </label>
                {% endifnotequal %}
            {% else %}
                <label for="id_make_feature">    
                    <h3>Make {% if experience %}{{ experience }}{% else %}this new experience{% endif %} your featured experience? {{ form.make_feature }}</h3>
                </label>
            {% endif %}
            </label>
            <div class="about_this">
                <p onclick="toggle_div('about_featured_experience');" class="smaller">
                    About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_featured_experience_toggle_icon" class="valign_middle" />
                </p>
                <div id="about_featured_experience" class="toggle_div help-text">
                    {{ form.make_feature.help_text }}
                </div>
            </div>
        </div>
        {# No need to check whether user is author #}
        {# By default, the password field is hidden since default state for is_public is false #}
        <div id="password_div" class="formatted_input hidden">
            <h3>{{ form.password.label_tag }}</h3>
            {{ form.password.errors }}
            {{ form.password }}
            <p onclick="toggle_div(this.nextElementSibling);">
                About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="password_help_text_toggle_icon" class="valign_middle" />
            </p>
            <div class="toggle_div help-text" id="password_help_text">
                {{ form.password.help_text }}
            </div>
        </div>
        <div class="formatted_input">
            <label for="id_search_term">
                <h3>{{ form.search_term.label_tag }}</h3>
                {{ form.search_term.errors }}
                {{ form.search_term }}
            </label>
            <div class="about_this">
                <p onclick="toggle_div('about_search_term');" class="smaller">
                    About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_search_term_toggle_icon" class="valign_middle" />
                </p>
                <div id="about_search_term" class="toggle_div help-text">
                    {{ form.search_term.help_text|safe }}
                </div>
            </div>
        </div>
        <div class="formatted_input">
            {% if user.paypal_email_address %}
                <label for="id_accepts_paypal">
                    <h3>Accept PayPal donations {{ form.accepts_paypal }}</h3>
                </label>
                <div class="about_this">
                    <p onclick="toggle_div('about_accepts_paypal');" class="smaller">
                        About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_accepts_paypal_toggle_icon" class="valign_middle" />
                    </p>
                    <div id="about_accepts_paypal" class="toggle_div help-text">
                        {{ form.accepts_paypal.help_text|safe }}
                    </div>
                </div>
            {% else %}
                <p>
                    To enable receiving PayPal donations, fill out the PayPal email field in your <a href="{% url 'profile' user.id %}">profile.</a>
                </p>
            {% endif %}
        </div>
    </div>
    <div class="formatted_input align_center">
        <input type="submit" value="Save" />
    </div>
</form>
