{% extends "photologue/root.html" %}
{% load url from future %}

{% block title %} - Edit: {{ object.title }}{% endblock %}

{% block content %}
	<script type="text/javascript">
		function update_photo(form){
			var photo_data = {
				"photo_id": $(form).find("#id_id").val(),
				"title": $(form).find("#id_title").val(),
				"caption": $(form).find("#id_caption").val()
			};

			$.ajax({
				url: "{% url 'update_photo' %}",
				data: photo_data,
				dataType: 'json',
				//error: function(ts) { alert(ts.responseText) }
			})
			.done(function(a, b, c){
				ajax_message("Your photo has been saved");
			})
			.fail(function(a, b, c){
				ajax_message("Sorry, there was an error saving your photo");
			})
			//alert(data["id"]);


			return false;
		}
	</script>
	<div class="object_item">
            <h1>Edit gallery</h1>
            <div class="option_list">
                <a href="{% url 'pl-gallery' object.id %}"><img src="{{ STATIC_URL }}img/icons/go-back.png" title="Back to gallery" class="option_icon" /></a>
                <a href="{% url 'upload_photo' object.id %}"><img src="{{ STATIC_URL }}img/icons/camera.png" title="Upload photo" class="option_icon" /></a>
            </div>
            <form action="" method="POST" class="full_width">
                {% csrf_token %}
                <div class="formatted_input">
                    <h2>Album name</h2>
                    {{ form.title.errors }}
                    {{ form.title }}
                </div>
                <div class="formatted_input">
                    <h3>Published {{ form.date_added }}</h3>
                </div>
                <div class="formatted_input">
                    <label for="id_description">
                        <h3>Description</h3>
                    </label>
                    {{ form.description.errors }}
                    {{ form.description }}
                </div>
                {% if object.photos.count > 0 %}
                    <div class="formatted_input">
                        <label for="id_featured_photo">
                            <h3>Select photo to feature</h3>
                        </label>
                        {{ form.featured_photo.errors }}
                        {{ form.featured_photo }}
                    </div>
                {% endif %}
                <div class="formatted_input align_center">
                    <input type="submit" value="Update" />
                </div>
            </form>
	</div>
	<div class="photo-gallery">
	    {% for photo, form in photos_forms %}
		    <div class="gallery_photo_item">
                        <a name="{{ photo.id }}"></a>
		    	<div class="left featured_photo">
                            <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
		        </div>
		        <div class="right">
			        {% ifequal request.user photo.author %}
				        <form action="/photologue/photo/{{ photo.id }}/edit_photo/" method="POST" onsubmit="return update_photo(this);">
				        	{% csrf_token %}
				        	<div class="formatted_input">
                                <h3>Title</h3>
				    			{{ form.title }}
                                {{ form.title.errors }}
                            </div>
				    		<div class="formatted_input">
					    		<label for="id_description">
					    			<h3>Photo Description</h3>
					    		</label>
					    		{{ form.caption }}
                                {{ form.caption.errors }}
                            </div>
					    	<input type="hidden" id="id_id" value="{{ photo.id }}" />
				    		<div class="formatted_input align_center">
				    			<input type="submit" value="Update" />
				    		</div>
						</form>
						<form action="{% url 'delete_photo' photo.id %}" method="POST">
							{% csrf_token %}
							<div class="formatted_input align_center">
								<input type="submit" value="Delete" class="align_center" onclick="return confirm('Delete this photo?');" />
							</div>
						</form>
					{% else %}
						<em>This photo can only be edited by {{ photo.author }}</em>
					{% endifequal %}
				</div>
				<div class="clear_both"></div>
		    </div>
	    {% empty %}
	    	<p>There are no photos uploaded for this gallery yet</p>
	    {% endfor %}
	    {% if object.children_photos %}
			<table class="thirds_table">
				{% ifequal object.content_type.model 'explorer' %}
					<h3>Photos from explorer's experiences and narratives</h3>
				{% else %}
					{% ifequal object.content_type.model 'experience' %}
						<h3>Photos from the narratives</h3>
					{% endifequal %}
				{% endifequal %}
			    {% for photo in object.children_photos %}
					<td>
					    <div class="object_item thirds_item featured_photo">
					        <a href="{{ photo.get_absolute_url }}" title="{{ photo.title }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" /></a>
					        <div>
					        	<h4>{{ photo.title }}</h4>
					        </div>
					    </div>
					</td>
					{% if forloop.counter|divisibleby:'3' %}
						{% if not forloop.last %}
							</tr>
							<tr>
						{% endif %}
					{% endif %}
				{% endfor %}
			</table>
		{% endif %}
	</div>
{% endblock content %}
