{% extends "photologue/root.html" %}

{% load photologue_tags %}

{% block title %} - {{ object.title }}{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <h2>From Gallery <a href="{% url 'pl-gallery' object.gallery.id %}">{{ object.gallery.title }}</a>
    </h2>
    <div class="gallery_photo_container">
        {% if object.get_next_in_gallery %}
            <a href="/photologue/photo/{{ object.get_next_in_gallery.id }}/" title="Next Photo">
                <div class="next_photo">
                    <img src="{{ STATIC_URL }}img/icons/next-icon.png" />
                </div>
            </a>
        {% endif %}
        <div class="gallery_photo">
            <a href="{{ object.image.url }}"><img src="{{ object.get_display_url }}" alt="{{ object.title }}"/></a>
            {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
        </div>
        {% if object.get_previous_in_gallery %}
            <a href="/photologue/photo/{{ object.get_previous_in_gallery.id }}/" title="Previous Photo">
                <div class="previous_photo">
                    <img src="{{ STATIC_URL }}img/icons/previous-icon.png">
                </div>
            </a>
        {% endif %}
    </div>
    <div class="option_list">
        {% if object.gallery %}
            <a href="{{ object.gallery.get_absolute_url }}"><img src="{{ STATIC_URL }}img/icons/back-icon.png" title=" Back to {{ object.gallery.title }} Gallery" class="option_icon" /></a>
            {% ifequal request.user object.author %} 
                <a href="{% url 'photologue.views.gallery_edit' object.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/edit-gallery-icon.png" title="Edit this photo's album" class="option_icon" /></a>
            {% endifequal %}
        {% endif %}
    </div>
{% endblock %}