{% extends "photologue/root.html" %}

{% load photologue_tags %}
{% load comments %}

{% if object.title %}
    {% block title %} - {{ object.title }}{% endblock %}
{% endif %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <h2>From Gallery <a href="{% url 'pl-gallery' object.gallery.id %}">{{ object.gallery.title }}</a>
    </h2>
    <div class="option_list">
        {% if object.gallery %}
            <a href="{{ object.gallery.get_absolute_url }}"><img src="{{ STATIC_URL }}img/icons/go-back.png" title=" Back to {{ object.gallery.title }} Gallery" class="option_icon" /></a>
            {% ifequal user object.author %} 
                <a href="{% url 'photologue.views.gallery_edit' object.gallery.id %}"><img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit this photo's album" class="option_icon" /></a>
                <a href="{% url 'delete_photo' object.id %}"><img src="{{ STATIC_URL }}img/icons/delete.png" onclick="return confirm('Delete this photo?');" class="option_icon" /></a>
            {% endifequal %}
        {% endif %}
    </div>
    <div class="gallery_photo_container">
        {% if object.get_previous_in_gallery %}
            <a href="/photologue/photo/{{ object.get_previous_in_gallery.id }}/" title="Previous Photo">
                <div class="previous_photo">
                    <img src="{{ STATIC_URL }}img/icons/arrow-left.png" class="option_icon" />
                </div>
            </a>
        {% endif %}
        <div class="gallery_photo">
            <a href="{{ object.image.url }}">
                <img src="{{ object.get_display_url }}" alt="{{ object.title }}"/>
            </a>
            {% if object.caption %}<p>{{ object.caption }}</p>{% endif %}
        </div>
        {% if object.get_next_in_gallery %}
            <a href="/photologue/photo/{{ object.get_next_in_gallery.id }}/" title="Next Photo">
                <div class="next_photo">
                    <img src="{{ STATIC_URL }}img/icons/arrow-right.png" class="option_icon" />
                </div>
            </a>
        {% endif %}
    </div>

    {% get_comment_count for object as comment_count %}

    <h3>
        {{ comment_count }} Note{{ comment_count|pluralize }}
    </h3>

    {% if user.is_authenticated %}
        {% render_comment_form for object %}
    {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">sign up</a> to leave a note<p>
    {% endif %}

    {% render_comment_list for object %}
{% endblock %}
