{% extends "base.html" %}

{% block head_insert %}
    {% if gallery.featured_photo %}
        <style type="text/css">
            html {
                background-image: url({{ gallery.featured_photo.image.url }});
            }
        </style>
    {% else %}
        {% if object.featured_photo %}
            <style type="text/css">
                html {
                    background-image: url({{ object.featured_photo.image.url }});
                }
            </style>
        {% else %}
            {% if object.gallery.featured_photo %}
                <style type="text/css">
                    html {
                        background-image: url({{ object.gallery.featured_photo.image.url }});
                    }
                </style>
            {% else %}
                {{ block.super }}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock head_insert %}