{% extends "base.html" %}

{% block content %}
	<h2>Upload photo for {{ gallery.title }}</h2>
	{% if form.errors %}
		{% for error in form.errors %}
			{{ error }}
		{% endfor %}
	{% endif %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="id_image">Select image:</label>
		<br />
		{{ form.image }}
		<br />
		<label for="id_title">Title</label>
		<br />
		{{ form.title }}
		<br />
		<label for="id_caption">Caption:</label>
		<br />
		{{ form.caption }}
		<br />
		<label for="id_feature">Make this photo the album feature?</label>
		<input type="checkbox" {% if gallery.photos.all.count < 1 %}checked="checked"{% endif %} name="feature" id="id_feature" />
		<br />
		<input type="hidden" name="gallery_id" id="id_gallery_id" value="{{ gallery.id }}" />
		<input type="submit" value="Upload" />
	</form>
{% endblock content %}