{% extends "photologue/root.html" %}

{% block content %}
    <h2>Upload photo for {{ gallery.title }}</h2>
    <div class="option_list">
        <a href="{% url 'pl-gallery' gallery.id %}"><img src="{{ STATIC_URL }}img/icons/go-back.png" title="Back to gallery" class="option_icon" /></a>
        <a href="{% url 'pl-gallery-edit' gallery.id %}"><img class="option_icon" title="Edit this gallery" src="{{ STATIC_URL }}img/icons/pencil.png"></a>
    </div>
    <div style="position:relative;">
        <form action="{% url 'ajax_upload' %}" method="POST" id="photo_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="formatted_input">
                <label for="id_image">
                    <h3>Select image</h3>
                </label>
                {{ form.image.errors }}
                {{ form.image }}
            </div>
            <div class="formatted_input">
                <label for="id_title">
                    <h3>Title</h3>
                </label>
                {{ form.title.errors }}
                {{ form.title }}
            </div>
            <div class="formatted_input">
                <label for="id_caption">
                        <h3>Caption</h3>
                </label>
                {{ form.caption.errors }}
                {{ form.caption }}
            </div>
            <div class="formatted_input">
                <label for="id_feature">
                    <h3>Make this photo the album feature? <input type="checkbox" {% if gallery.photos.count < 1 %}checked="checked"{% endif %} name="feature" id="id_feature" /></h3>
                </label>
                <h4 onclick="toggle_div('about_featured_photo');">About this <img src="{{ STATIC_URL }}img/icons/expand-icon.png" id="about_featured_photo_toggle_icon" /></h4>
                <div id="about_featured_photo" class="toggle_div help-text" style="display: none;">
                    The featured photo is used to represent the gallery and is displayed first in the gallery.
                </div>
            </div>
            <input type="hidden" name="gallery_id" id="id_gallery_id" value="{{ gallery.id }}" />
            <input type="submit" value="Upload" />
        </form>
    </div>
    <div class="align_center">
        <a href="{% url 'pl-gallery' gallery.id %}">
            <button>Finished</button>
        </a>
    </div>
    <div id="photo_form_feedback">
        <h3>Uploaded photos</h3>
        <div class="thirds_table">
            {% for photo in gallery.photos.reverse %}
                <div class="cell">
                    <div class="photo_item">
                        {% include 'photologue/snippets/photo_dash.html' %}
                    </div>
                </div>
            {% empty %}
                <h4 id="no-photos">No photos yet</h4>
            {% endfor %}
        </div>
        <img src="{{ STATIC_URL }}img/gifs/ajax-loader.gif" id="ajax-loader" style="display:none;" />
    </div>
{% endblock content %}
