html,body,blockquote,code,pre {
    margin:0;
    padding:0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 0px;
}

button,fieldset,form,input,legend,textarea,select {
    margin:0;
    padding:0;
}

fieldset {
    border:0;
}

a,a * {
    cursor:pointer;
}

div {
    margin:0;
    padding:0;
    background-color:transparent;
    text-align:left;
}

img {
    border:0;
}

applet,iframe,object {
    border:0;margin:0;padding:0
}

button,input[type=button],input[type=image],input[type=reset],input[type=submit],label {
    cursor:pointer;
}

ul,li {
    list-style:none;
    margin:0;
    //padding:0;
}

strong {
    font-weight:bold;
}

em {
    font-style:italic;
}