<div class="featured_photo">
    <a href="{{ photo.get_absolute_url }}" title="{{ photo.title }}">
        <img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}" />
    </a>
    {% if photo.title %}
        <h4>{{ photo.title }}</h4>
        <span class="caption">
          <p>
            {{ photo.caption }}
          </p>
        </span>
    {% endif %}
</div>
{% if user.is_authenticated %}
    {% load comments %}
    <div class="option_list">
        <a onclick="toggle_div('{{ photo.id }}_note');">
            <img src="{{ STATIC_URL }}img/icons/tack.png" title="Tack on a note" class="option_icon" />
        </a>
        {% if user in photo.gallery.explorers.all %}
            <a href="{% url 'pl-gallery-edit' photo.gallery.id %}#{{ photo.id }}">
                <img src="{{ STATIC_URL }}img/icons/pencil.png" title="Edit photo" class="option_icon" />
            </a>
        {% endif %}
    </div>
{% get_comment_form for photo as comment_form %}
    <div id="{{ photo.id }}_note" class="comment" style="display: none;">
        {% with next_url_name='pl-photo' next_url_pk=photo.id %}
            {% include "support/snippets/note_form.html" %}
        {% endwith %}
    </div>
{% endif %}
