/*This file is compiled in sass to the file /static/css/compiled/style.css*/
html, body, blockquote, code, pre {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0px; }

p {
  margin-top: 7px;
  margin-bottom: 7px;
  padding: 0px; }

button, fieldset, form, input, legend, textarea, select {
  margin: 0;
  padding: 0; }

fieldset {
  border: 0; }

a, a * {
  cursor: pointer; }

div {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: left; }

img {
  border: 0; }

applet, iframe, object {
  border: 0;
  margin: 0;
  padding: 0; }

button, input[type=button], input[type=image], input[type=reset], input[type=submit], label {
  cursor: pointer; }

ul, li {
  list-style: none;
  margin: 0; }

ul {
  padding-left: 10px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

html {
  background: url("../../img/AcressityBackground.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 107.5%; }

body {
  color: #222;
  background-color: transparent;
  font-family: Ubuntu, "Merriweather Sans", Helvetica, sans-serif;
  font-size: 100%;
  padding-top: 50px; }

html, body {
  height: 100%; }

p {
  margin: 15px 5px;
  line-height: 130%; }

a {
  color: #1A4B6E;
  text-decoration: none;
  outline: 0; }
  a:hover {
    color: #1A2B4E;
    text-decoration: none; }

ul {
  list-style: none; }

textarea {
  border-radius: 5px; }

select {
  height: 2em; }

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0; }

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

input[type="button"], input[type="submit"], button {
  background-color: #4A7B8A;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
  text-indent: 0;
  border: none;
  display: inline-block;
  color: #ffffff;
  font-family: Ubuntu, "Merriweather Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  padding: 12px 35px; }
  input[type="button"]:hover, input[type="submit"]:hover, button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1A4B6E), color-stop(1, #4A7B8A));
    background: -moz-linear-gradient(center top, #1A4B6E 5%, #4A7B8A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$main_color_darker', endColorstr='$button_background');
    background-color: #1A4B6E; }
  input[type="button"]:active, input[type="submit"]:active, button:active {
    position: relative;
    top: 1px; }
  input[type="button"].danger, input[type="submit"].danger, button.danger {
    background-color: #F22; }
    input[type="button"].danger:hover, input[type="submit"].danger:hover, button.danger:hover {
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F00), color-stop(1, #F22));
      background: -moz-linear-gradient(center top, #F00 5%, #F22 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button_background_danger_darker', endColorstr='$button_background_danger');
      background-color: #F00; }

input[type="range"] {
  cursor: pointer;
  background: #555; }

#large_button {
  width: 100%;
  height: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #1A4B6E; }

.larger {
  font-size: larger; }

.icon_button, input.expand-button, input.edit-button, input.delete-button, input.invite-button {
  background-size: 30px; }

input.expand-button {
  background: #4A7B8A url("../../img/favicon.ico") no-repeat left; }
  input.expand-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #4A7B8A)) url("../../img/favicon.ico") no-repeat left;
    background: -moz-linear-gradient(center top, #fb9e25 5%, #4A7B8A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='$button_background');
    background-color: #fb9e25 url("../../img/favicon.ico") no-repeat left; }

input.edit-button {
  background: #4A7B8A url("../../img/icons/edit-icon.png") no-repeat left; }
  input.edit-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #4A7B8A)) url("../../img/favicon.ico") no-repeat left;
    background: -moz-linear-gradient(center top, #fb9e25 5%, #4A7B8A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='$button_background');
    background-color: #fb9e25 url("../../img/favicon.ico") no-repeat left; }

input.delete-button {
  background: #4A7B8A url("../../img/icons/delete-icon.png") no-repeat left;
  background-size: 20px;
  /* For some reason this isn't being inherited from parent class... */ }
  input.delete-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #4A7B8A)) url("../../img/favicon.ico") no-repeat left;
    background: -moz-linear-gradient(center top, #fb9e25 5%, #4A7B8A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='$button_background');
    background-color: #fb9e25 url("../../img/favicon.ico") no-repeat left; }

input.invite-button {
  background: #4A7B8A url("../../img/icons/invite-icon.png") no-repeat left; }
  input.invite-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #4A7B8A)) url("../../img/favicon.ico") no-repeat left;
    background: -moz-linear-gradient(center top, #fb9e25 5%, #4A7B8A 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='$button_background');
    background-color: #fb9e25 url("../../img/favicon.ico") no-repeat left; }

form {
  padding: 3px; }
  form.no_styling {
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 0; }
  form li {
    padding: 5px;
    margin: 10px 5px;
    background-color: rgba(100, 100, 100, 0.1); }
    form li input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]) {
      min-height: 1em;
      font-size: 1em;
      width: 100%; }
    form li input:not([type=submit]):not([type=button]), form li textarea {
      background-color: #FAFAFA;
      border-radius: 0.3em; }
    form li label {
      display: block;
      padding: 5px;
      font-size: 1.1em; }

input, textarea {
  box-sizing: border-box; }

textarea {
  background: url("../../img//notepad_row.png") repeat;
  line-height: 25px;
  padding: 2px 10px;
  font-family: Ubuntu, "Merriweather Sans", Helvetica, sans-serif;
  font-size: 14px;
  min-height: 2em;
  border: hidden; }

blockquote {
  font-size: 0.9em; }

blockquote:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

blockquote .body {
  text-align: center;
  margin-bottom: 10px; }

blockquote .author {
  text-align: center; }

.border-demilited p {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(10, 10, 10, 0.2);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */ }

input {
  padding: 5px; }

textarea {
  width: 100%; }

.full_width {
  width: 100%; }

.background_color, .base-div, #content, #right_content {
  background-color: rgba(230, 230, 255, 0.92); }

.shadow_border, .base-div, #content, #right_content, #messages, .navbar-default {
  -moz-box-shadow: 0 0 2px 1px #888;
  -webkit-box-shadow: 0 0 2px 1px #888;
  box-shadow: 0 0 2px 1px #888; }

.no_shadow_border {
  -moz-box-shadow: 0 0 0 0 #888;
  -webkit-box-shadow: 0 0 0 0 #888;
  box-shadow: 0 0 0 0 #888; }

.base-div, #content, #right_content {
  overflow: hidden;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px; }

#content {
  margin-bottom: 15px; }

#right_content {
  max-height: 90%;
  overflow-y: auto; }

.thirds_table {
  position: relative;
  width: 100%; }

.thirds_table .cell {
  width: 33%;
  height: 100%;
  display: inline-block; }

.halves_table {
  position: relative;
  width: 100%; }

.halves_table .cell {
  width: 48%;
  height: 100%;
  display: inline-block; }

.thirds_table td {
  vertical-align: top;
  width: 33%; }

.timeline {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap; }

.timeline_item {
  display: inline-block;
  margin: 5px;
  height: 100%; }

.object_item_list {
  position: relative; }

.object_item, .main_item, #main_index_header, .explorer_item, .bounty_item, .bounty_list, .explorer_note, .explorer_list, #welcome_quote, .experience_item, .campaign_item, .campaign_list, .experience_note, .experience_dash, .experience_list, .narrative_item, .timeline, .stripe_item, .narrative_note, .narrative_dash, .narrative_list, .latest_narrative, .photo_item, .gallery_item, .photo_list, .comment_item, .success_item, .warning_item, .request_dash, .gallery_photo_item, .formatted_input, .register_input {
  position: relative;
  padding: 15px;
  margin: 0px; }

.main_item, #main_index_header {
  background-color: rgba(74, 123, 138, 0.4); }

.explorer_background, .explorer_item, .bounty_item, .bounty_list, .explorer_note, .explorer_list, #welcome_quote {
  background-color: rgba(74, 123, 138, 0.4); }

.experience_background, .experience_item, .campaign_item, .campaign_list, .experience_note, .experience_dash, .experience_list, .input-range-wrapper {
  background-color: rgba(127, 95, 142, 0.4); }

.narrative_background, .narrative_item, .timeline, .stripe_item, .narrative_note, .narrative_dash, .narrative_list, .latest_narrative, .narrative_detail {
  background-color: rgba(54, 112, 60, 0.5); }

.narrative_item, .timeline, .stripe_item, .narrative_note, .narrative_dash, .narrative_list, .latest_narrative {
  word-wrap: break-word; }

.photo_item, .gallery_item, .photo_list {
  background-color: rgba(120, 120, 120, 0.4); }

.success_item {
  background-color: rgba(50, 175, 50, 0.4); }

.warning_item {
  background-color: rgba(175, 50, 50, 0.4); }

.editable:hover {
  background: url("../../img/icons/edit-icon.png") no-repeat top right; }

.post_it, .note, .explorer_note, .experience_note, .narrative_note, .notifications .notice {
  background: url("../../img/icons/tack-right-icon.png") no-repeat top right, url("../../img/icons/tack-left-icon.png") no-repeat top left, url("../../img//notepad_row.png");
  padding: 25px; }

.note, .explorer_note, .experience_note, .narrative_note, .notifications .notice {
  min-height: 100px;
  margin-bottom: 10px; }

.experience_dash {
  position: relative; }
  .experience_dash .option {
    margin: 5px;
    font-size: 80%; }

.fulfilled-award {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }

.request_dash {
  background-color: rgba(50, 80, 150, 0.5); }

.left {
  float: left;
  width: 45%; }

.right {
  width: 45%;
  float: right; }

.align_center {
  text-align: center; }

.valign_middle {
  vertical-align: middle; }

.x-small {
  font-size: x-small; }

.narrative_detail {
  padding: 25px; }
  .narrative_detail .images_right {
    float: right;
    width: 30%;
    text-align: center;
    padding: 5px; }
    .narrative_detail .images_right img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%; }

.object_item_interaction {
  position: relative;
  bottom: 0;
  left: 0; }

.horizontal_list {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: small;
  height: 100%;
  text-align: center; }
  .horizontal_list li {
    display: block;
    width: 10%;
    float: left;
    padding: 5px; }
  .horizontal_list a {
    color: #FFF; }
    .horizontal_list a:hover {
      color: #1A4B6E; }

.item-level-1 {
  margin-left: 100px; }

.item-level-2 {
  margin-left: 200px; }

.item-level-3 {
  margin-left: 300px; }

.comment_list {
  font-size: smaller;
  position: relative; }

.youtube {
  padding: 5px; }

.gallery_photo_item {
  min-height: 290px;
  background-color: rgba(0, 0, 0, 0.1); }

.featured_photo {
  text-align: center; }
  .featured_photo img {
    max-width: 95%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 0.2em; }

.gallery_photo_container {
  position: relative;
  min-height: 250px; }

.previous_photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 5%;
  background-color: rgba(100, 100, 100, 0.2);
  height: 90%; }
  .previous_photo:hover {
    background-color: rgba(100, 100, 100, 0.4); }

.previous_photo img {
  position: relative;
  top: 50%; }

.gallery_photo {
  text-align: center;
  position: relative;
  height: 90%;
  width: 90%;
  left: 5%; }

.gallery_photo img {
  position: relative;
  max-width: 85%; }

.next_photo {
  position: absolute;
  right: 0;
  top: 0;
  width: 5%;
  height: 90%;
  background-color: rgba(100, 100, 100, 0.2); }
  .next_photo:hover {
    background-color: rgba(100, 100, 100, 0.4); }

.next_photo img {
  position: relative;
  top: 50%; }

.narrative_photo {
  margin-bottom: 25px; }

.photo_caption, .caption {
  font-style: italic;
  text-align: center;
  font-size: smaller; }

.photo-top-right {
  position: absolute;
  right: -1px;
  top: -3px; }

.description {
  border-bottom: 1px dotted; }

.icon_gallery_object {
  float: left; }

.explorer_portrait {
  text-align: center; }

.explorer_portrait img {
  width: 200px; }

.thumbnail-icon > img {
  width: 60px; }

/* div for control options regarding an object (e.g. experience: view photos, upload photo */
.option_list {
  overflow: hidden;
  display: table; }

.object_list .object_item, .explorer_list .object_item, .experience_list .object_item, .narrative_list .object_item, .campaign_list .object_item, .bounty_list .object_item, .photo_list .object_item, .object_list .main_item, .explorer_list .main_item, .experience_list .main_item, .narrative_list .main_item, .campaign_list .main_item, .bounty_list .main_item, .photo_list .main_item, .object_list #main_index_header, .explorer_list #main_index_header, .experience_list #main_index_header, .narrative_list #main_index_header, .campaign_list #main_index_header, .bounty_list #main_index_header, .photo_list #main_index_header, .object_list .explorer_item, .explorer_list .explorer_item, .experience_list .explorer_item, .narrative_list .explorer_item, .campaign_list .explorer_item, .bounty_list .explorer_item, .photo_list .explorer_item, .object_list .bounty_item, .explorer_list .bounty_item, .experience_list .bounty_item, .narrative_list .bounty_item, .campaign_list .bounty_item, .bounty_list .bounty_item, .photo_list .bounty_item, .object_list .bounty_list, .explorer_list .bounty_list, .experience_list .bounty_list, .narrative_list .bounty_list, .campaign_list .bounty_list, .bounty_list .bounty_list, .photo_list .bounty_list, .object_list .explorer_note, .explorer_list .explorer_note, .experience_list .explorer_note, .narrative_list .explorer_note, .campaign_list .explorer_note, .bounty_list .explorer_note, .photo_list .explorer_note, .object_list .explorer_list, .explorer_list .explorer_list, .experience_list .explorer_list, .narrative_list .explorer_list, .campaign_list .explorer_list, .bounty_list .explorer_list, .photo_list .explorer_list, .object_list #welcome_quote, .explorer_list #welcome_quote, .experience_list #welcome_quote, .narrative_list #welcome_quote, .campaign_list #welcome_quote, .bounty_list #welcome_quote, .photo_list #welcome_quote, .object_list .experience_item, .explorer_list .experience_item, .experience_list .experience_item, .narrative_list .experience_item, .campaign_list .experience_item, .bounty_list .experience_item, .photo_list .experience_item, .object_list .campaign_item, .explorer_list .campaign_item, .experience_list .campaign_item, .narrative_list .campaign_item, .campaign_list .campaign_item, .bounty_list .campaign_item, .photo_list .campaign_item, .object_list .campaign_list, .explorer_list .campaign_list, .experience_list .campaign_list, .narrative_list .campaign_list, .campaign_list .campaign_list, .bounty_list .campaign_list, .photo_list .campaign_list, .object_list .experience_note, .explorer_list .experience_note, .experience_list .experience_note, .narrative_list .experience_note, .campaign_list .experience_note, .bounty_list .experience_note, .photo_list .experience_note, .object_list .experience_dash, .explorer_list .experience_dash, .experience_list .experience_dash, .narrative_list .experience_dash, .campaign_list .experience_dash, .bounty_list .experience_dash, .photo_list .experience_dash, .object_list .experience_list, .explorer_list .experience_list, .experience_list .experience_list, .narrative_list .experience_list, .campaign_list .experience_list, .bounty_list .experience_list, .photo_list .experience_list, .object_list .narrative_item, .explorer_list .narrative_item, .experience_list .narrative_item, .narrative_list .narrative_item, .campaign_list .narrative_item, .bounty_list .narrative_item, .photo_list .narrative_item, .object_list .timeline, .explorer_list .timeline, .experience_list .timeline, .narrative_list .timeline, .campaign_list .timeline, .bounty_list .timeline, .photo_list .timeline, .object_list .stripe_item, .explorer_list .stripe_item, .experience_list .stripe_item, .narrative_list .stripe_item, .campaign_list .stripe_item, .bounty_list .stripe_item, .photo_list .stripe_item, .object_list .narrative_note, .explorer_list .narrative_note, .experience_list .narrative_note, .narrative_list .narrative_note, .campaign_list .narrative_note, .bounty_list .narrative_note, .photo_list .narrative_note, .object_list .narrative_dash, .explorer_list .narrative_dash, .experience_list .narrative_dash, .narrative_list .narrative_dash, .campaign_list .narrative_dash, .bounty_list .narrative_dash, .photo_list .narrative_dash, .object_list .narrative_list, .explorer_list .narrative_list, .experience_list .narrative_list, .narrative_list .narrative_list, .campaign_list .narrative_list, .bounty_list .narrative_list, .photo_list .narrative_list, .object_list .latest_narrative, .explorer_list .latest_narrative, .experience_list .latest_narrative, .narrative_list .latest_narrative, .campaign_list .latest_narrative, .bounty_list .latest_narrative, .photo_list .latest_narrative, .object_list .photo_item, .explorer_list .photo_item, .experience_list .photo_item, .narrative_list .photo_item, .campaign_list .photo_item, .bounty_list .photo_item, .photo_list .photo_item, .object_list .gallery_item, .explorer_list .gallery_item, .experience_list .gallery_item, .narrative_list .gallery_item, .campaign_list .gallery_item, .bounty_list .gallery_item, .photo_list .gallery_item, .object_list .photo_list, .explorer_list .photo_list, .experience_list .photo_list, .narrative_list .photo_list, .campaign_list .photo_list, .bounty_list .photo_list, .photo_list .photo_list, .object_list .comment_item, .explorer_list .comment_item, .experience_list .comment_item, .narrative_list .comment_item, .campaign_list .comment_item, .bounty_list .comment_item, .photo_list .comment_item, .object_list .success_item, .explorer_list .success_item, .experience_list .success_item, .narrative_list .success_item, .campaign_list .success_item, .bounty_list .success_item, .photo_list .success_item, .object_list .warning_item, .explorer_list .warning_item, .experience_list .warning_item, .narrative_list .warning_item, .campaign_list .warning_item, .bounty_list .warning_item, .photo_list .warning_item, .object_list .request_dash, .explorer_list .request_dash, .experience_list .request_dash, .narrative_list .request_dash, .campaign_list .request_dash, .bounty_list .request_dash, .photo_list .request_dash, .object_list .gallery_photo_item, .explorer_list .gallery_photo_item, .experience_list .gallery_photo_item, .narrative_list .gallery_photo_item, .campaign_list .gallery_photo_item, .bounty_list .gallery_photo_item, .photo_list .gallery_photo_item, .object_list .formatted_input, .explorer_list .formatted_input, .experience_list .formatted_input, .narrative_list .formatted_input, .campaign_list .formatted_input, .bounty_list .formatted_input, .photo_list .formatted_input, .object_list .register_input, .explorer_list .register_input, .experience_list .register_input, .narrative_list .register_input, .campaign_list .register_input, .bounty_list .register_input, .photo_list .register_input {
  margin: 10px; }

.option img {
  vertical-align: middle;
  width: 25px;
  margin: 1px;
  opacity: 0.5; }
.option:hover img {
  width: 27px;
  position: relative;
  margin: 0px;
  opacity: 1; }

.option_icon {
  padding: 3px;
  width: 32px;
  margin: 1px;
  opacity: 0.5; }
  .option_icon:hover {
    width: 34px;
    position: relative;
    margin: 0;
    opacity: 1; }

.toggler, .wide_toggler {
  cursor: pointer; }

.wide_toggler {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.toggle_div {
  display: none; }

.next_previous {
  overflow: hidden; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.inline_block {
  display: inline-block; }

.clear_both {
  clear: both; }

.position_relative {
  position: relative; }

.hidden {
  display: none; }

.subtle-text, .about_this, .help-text, .helptext {
  color: rgba(0, 0, 0, 0.5);
  font-size: smaller;
  background-color: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 1px; }

.help-text, .helptext {
  padding: 5px;
  background-color: rgba(250, 250, 250, 0.15); }

.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 30%;
  background-color: rgba(74, 123, 138, 0.4);
  height: 50px;
  line-height: 50px; }
  .pagination img {
    vertical-align: middle; }

.half {
  width: 50%; }

.success, .successlist {
  color: #0B0;
  font-size: smaller; }

.error, .errorlist {
  color: #B00;
  font-size: smaller; }

.flipped {
  transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -khtml-transform: scale(1, -1);
  -ms-transform: scale(1, -1); }

#wrapper {
  /* Margin on bottom */ }

#messages {
  font-size: smaller;
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.9);
  z-index: 3;
  top: 30px;
  left: 0; }

#messages_note {
  position: absolute;
  bottom: 0;
  right: 20px; }

#navbar {
  background-color: #4A7B8A; }

.navbar-default {
  border: none; }

.navbar-default .navbar-nav > li > a {
  color: #DDD; }

.navbar-default .navbar-nav .open .dropdown-menu > li > a, .navbar-default .navbar-nav .open .dropdown-menu {
  color: #000; }

.navbar-default .navbar-brand {
  color: #DDD; }
  .navbar-default .navbar-brand img {
    position: relative;
    top: -45px;
    max-width: 110px;
    -webkit-filter: drop-shadow(2px 2px 2px #222);
    filter: drop-shadow(2px 2px 2px #222); }

.navbar-default .navbar-nav > li.active > a {
  background-color: #6A9BAA;
  color: #DDD; }

.navbar-nav > li > a, .navbar-brand {
  padding-top: 8px;
  padding-bottom: 0;
  height: 40px; }

.navbar-default .navbar-toggle .icon-bar {
  height: 1px;
  background-color: #FFF; }

.navbar {
  min-height: 40px; }

.container .jumbotron {
  background-color: transparent;
  border-radius: 0;
  margin-bottom: 0; }

.footer {
  background-color: rgba(0, 0, 0, 0.6);
  height: 40px;
  margin-top: 10px; }

blockquote {
  border-left: none; }

#main_index_header img {
  width: 65px;
  border-radius: 0.4em;
  margin: 10px; }
#main_index_header #text {
  position: absolute;
  top: 0;
  left: 150px;
  height: 100%; }

.explore_button, #explore_main, #explore_what, #explore_why {
  width: 12em;
  height: 12em;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle; }
  .explore_button p:first-child, #explore_main p:first-child, #explore_what p:first-child, #explore_why p:first-child {
    font-size: 2em;
    font-weight: bold; }
  .explore_button p, #explore_main p, #explore_what p, #explore_why p {
    color: initial;
    position: relative;
    top: 35%; }

#explore_main {
  background-color: #7f5f8e; }
  #explore_main:hover {
    background-color: rgba(127, 95, 142, 0.5); }

#explore_what {
  background-color: #4a7b8a; }
  #explore_what:hover {
    background-color: rgba(74, 123, 138, 0.5); }

#explore_why {
  background-color: #36703c; }
  #explore_why:hover {
    background-color: rgba(54, 112, 60, 0.5); }

.main_color {
  background-color: #4A7B8A; }

#id_comment {
  width: 100%;
  height: 2em;
  overflow: hidden; }

#exp_comment_list {
  display: none; }

#footer {
  margin-top: -30px;
  text-align: center;
  position: relative;
  clear: both;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.6); }

#welcome_quote {
  padding: 10px; }
  #welcome_quote h2, #welcome_quote h3 {
    text-align: center; }

.latest_narrative {
  max-height: 250px;
  overflow-y: auto;
  display: none; }

#bulletin_board {
  position: relative;
  display: block;
  z-index: 1;
  padding: 5px; }

#bulletin_board_background {
  content: "";
  background: url("../../img/bulletin_board_background.jpg");
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

.notification-badge {
  background-color: #F44; }

#new_narrative_form {
  display: none; }

#id_caption {
  height: 100px; }

#id_description {
  height: 100px; }

.formatted_input, .register_input {
  padding: 5px;
  margin: 10px 5px; }
  .formatted_input input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]), .register_input input:not([type=checkbox]):not([type=radio]):not([type=button]):not([type=submit]) {
    min-height: 1em;
    font-size: 1em;
    width: 100%; }
  .formatted_input input:not([type=submit]):not([type=button]), .register_input input:not([type=submit]):not([type=button]), .formatted_input textarea, .register_input textarea {
    background-color: #FAFAFA;
    border-radius: 0.3em; }

.register_input {
  min-height: 70px; }

.register-table {
  table-layout: fixed;
  width: 100%; }

.input-range-wrapper {
  border-radius: 5px; }

#id_honeypot {
  display: none; }

/*# sourceMappingURL=style.css.map */
